+between(1024px, 1364px)
	.company_box
		background-position 60% top
+between(300px, 1023px)
	.banner_masi
		background-position center 8%
		background-size 1200px 515px
		height 454px
	.company_box
		background-size 1140px 600px
		height 600px
		.company
			width 385px
			padding-top 10px
			h2
				margin-bottom 5px
		.box_whit_us
			padding 15px 0px 0px 7px
			width 400px
			height 200px
			margin-top 20px
	.app_content
		.app_box
			.content_change
				width 260%
				left -99%
				top 100px
				figure.walker_banner
					max-width 630px !important
	.walker
		.walker_box
			background url('../img/paseador_usuario_masi_mobile.jpg') fixed
			background-size cover
+between(300px, 1008px)
	.form_register_walker
		form
			.row_form
				width 90%
				display block
				margin 0 auto
				text-align center
			.upload
				margin 30px auto
		p
		h3
		span
			width 90%
			margin 15px auto
	.contact
		.box_contact
			form
				display block
				text-align center
			.text_contact
				display block
		h2
			text-align center
+between(300px, 720px)
	.header
		overflow visible
		.icon-menu
			font-size 30px
			color black
			cursor pointer
			padding 1px 20px 0px 20px
			line-height 35px
			transition all .3s ease
			&.current
				transition all .3s ease
				right 216px
				position absolute
		.menu_register
			position relative !important
			right 0px !important
			padding-top 0px !important
			background white !important
			li
				a
					padding 10px 10px 14px !important
					color #9da3a5 !important
		nav.menu
			position relative
			transition all .3s ease
			ul
				transition all .3s ease
				background rgba(14, 14, 14, 0.74)
				right -145px
				top 0px
				position absolute
				padding-top 8px
				&.open
					position fixed
					right 0px
					width 225px
					height calc(100% + 60px)
				li
					display block
					text-align left
					a
						color white
						&:hover
						&.actived
							color #00b0c8
	.banner_masi
		background-position center 8%
		background-size 800px 408px
		height 392px
		p
			width 500px
			height 66px
			font-size 30px
	.company_box
		background none
		height initial
		padding-bottom 30px
		.company
			max-width 385px
			width 100%
			min-width 290px
			padding-top 10px
			margin 0 auto
			h2
				margin-bottom 5px
		.box_whit_us
			padding 20px
			max-width 385px
			width 100%
			min-width 290px
			margin-top 20px
			height 380px
			position relative
			img
				margin 0 auto
				display block
				margin-top 26px
			.text
				width 100%
				h4
					font-size 24px
				p
					font-size 16px
				a
					position absolute
					bottom 20px
					left 30%
	.app_content
		.app_box
			.content_change
				width 168%
				left -68%
	.walker
		.walker_box
			p
				padding 40px 45px
	footer
		.box_center
			span
				display block
				text-align center
		section
			.footer_info
				float none
				.box_info_foot
					float none
					width 172px
					height 43px
					display block
					margin 15px auto
+between(300px, 510px)
	.app_content
		.app_box
			label.box_switch
				display block
				margin 0 auto
				margin-top 15px
			.content_change
				width 120%
				left -10%
				top 60px
	.banner_masi
		background-size 485px 260px
		height 255px
		p
			width 280px
			height 45px
			font-size 16px
	.walker
		.walker_box
			p
				padding 30px 35px
				font-size 22px
+between(300px, 400px)
	.walker
		.walker_box
			p
				padding 20px 20px
				font-size 18px
				height 190px