
@font-face {
  font-family: 'ProximaNovaAExCn-RegularIt';
  src: url('ProximaNovaAExCn-RegularIt.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaAExCn-RegularIt';
  src:  url('ProximaNovaAExCn-RegularIt.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADqIAA8AAAAAdBQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAA6bAAAABoA
AAAcWAqCIUdERUYAADWgAAAAJAAAACYCHgEER1BPUwAANhAAAARaAAARzPYVGMZHU1VCAAA1xAAA
AEoAAABY2m/dv09TLzIAAAHMAAAAVwAAAGBriWkCY21hcAAABJwAAAIAAAACej1haulnYXNwAAA1
mAAAAAgAAAAI//8AA2dseWYAAAiQAAAo8QAATuSqJmSpaGVhZAAAAVgAAAA0AAAANgbV8t9oaGVh
AAABjAAAAB8AAAAkBhwCV2htdHgAAAIkAAACeAAAA+RRFBI9bG9jYQAABpwAAAH0AAAB9PUbCV5t
YXhwAAABrAAAAB4AAAAgAUIAa25hbWUAADGEAAACdQAABmzxf6X/cG9zdAAAM/wAAAGbAAACKC2D
8A942mNgZGBgYGRwtN/B5B/Pb/OVgZv5BVCE4dLM6z0w+n/af0tmaeYMBiYGDiAGAgBkwgzveNpj
YGRgYJ7x7xqQ9Pif9t+eWZoBKIICfgIAj9UGdwB42mNgZGBg+MmQwcDOAAJMQMzIABJzAPMZACdF
Aa4AAHjaY2BiNGScwMDKwMC0h6mLgYGhB0Iz3mUwYvQFijKwsjGDKJYGBob1AQwPfjNAQW5OcTED
IwPvbyZmsf96DAzMMxi1FIAaQXKMj5lmAykFBiYA68APUwB42m2TTUhVURSF17pSpFiaZU8hyUgS
VHJUUaAZ9l4iSn+iJEYWKQYSQpr1CBEC7WcQVJOwUSFGTtS0YRAWmET4IPqjSNKBZWlBUoSxW+eq
aeKFj33vPefss89a+/A9DkEPizH/dIoRxHM/GthhP1hmk95OFPIqYtGPBkSwFhHrYzZCDCMLozaB
cQTcGgzYE95COtOQz1b7wxab5inFS1jOi0hjIRLZipV6j8ZHrMaITShHpkgUMdyBXV4ZtrPWIryO
aLYoV6dipTgq2vTdq7VP9b7b3vG2YjGivS2K+s8ejV+YjTcVj9sk8xFkHzJYixIvDXtZZ89ZjwqW
2DgeWD8GcFixW7VtZsDu4xqq2IhVbIbHHCQrBtiAJAxLk2YbVp0eeh3WypOKQ0jw8jRX/9mEJM15
49ZgWt9bbRKfkKqxNQwh10tBHkP2kmHNybYvGLSv6JYHg9bFy9gzo72N+fuely/19tuNc5u95Qoc
i4rR+k0oYhApypnHCZTgF4qZiiPK+V1zQqJIZ8j393iEffIlB+3WgVc4y42aG7Qp1VvoVYoT0iXO
Xvh6L4GXYa99DypnPZjF6b8QPsT6f/ovJqw9esx8DxbiPHBePUasr/cSeAcUnRbSfyEz+s/j6z6n
/2LOIItN9tP34D+cT0LRz1GOdfiGZO8g0qVNkut7599crzi/pMmwzhsUVXDa16Ac7SjFFeuSziGM
SfcK5XqGgOd6YBTnRJ27I6olLOpUywSXoVRsYDUKvLuIjypAofooBUM2hdNWrd6PU901vKO63Rmc
H/d0j0J+/2Uyglx+QCY+677N3J1E339Ho+pvQwJvqF+7EP8X6GcRs3jaY2BgYGaAYBkGRiDJwFgC
5DGC+SyMEUA6iMGBgZVBCMjiZahjWMywhuE/oyGjE2MwYyJjBWMd4ySm40x3mQ8oiChIKcgpKCmo
KRgoWCm4KKxRVFJUU2JSYlPiVxJSklKSU9JW8lBKUEpVPfXj/2+m//9BtgHNVGBYwLCUYR3QTEfG
IMYEoJm1QDOPMd0AmimsIKEgo6AANtMSzUxBJDNTwGYyAs1k/v/9/9P/R/4f/n/o/8T/Tf+L/6f/
D/zv+9/qH/vf739FHxx+cODB/gf7Hux+sOnBqgcLH1jdP3r/0L3n957cu3Pv9r0r9y7eO3pv5b1J
9/pva7N/Z/0GCRNqA0Y2SJCD2UxAggVdAQMDKxs7BycXNw8vH7+AoJCwiKiYuISklLSMrJy8gqKS
soqqmrqGppa2jq6evoGhkbGJqZm5haWVtY2tnb2Do5Ozi6ubu4enl7ePr59/QGBQcEhoWHhEZFR0
TGxcfEJiUjJDW3tn9+QZ8xYvWrJs6fKVq1etWbt+3YaNm7du2bZj+57de/fdK0pLz3pQsbAg53lZ
9qeOWe+LP3/JKH/55vXVD7k1DCt2Nabmvzvz8VVe7cOUptbpR49du377zo2bO78ePPn02eMn33/c
r7x191FLT3NvV/+EiX1Tp32bMmfu7ENnLxeev3Cx6sqlcwADzs9VAAAAFgAWABYAFgAWABYANABc
AIwA1AEaAXIBigGiAboB3AH0AhICHgI0AkICagJ8AqAC2AL2AyADWgNsA7AD7gQUBEIEVgRsBIAE
uAUUBS4FYAWIBbAFyAXcBgwGJgYyBk4GaAZ4BpQGrAbaBv4HNgdeB5IHpAfIB9oH9ggQCCYIPghQ
CF4IcAiECJIIoAjcCQwJMglkCZYJuAn4ChwKOgpkCn4KmgrUCvgLIgtSC4QLnAvQC/YMHgwwDEwM
ZAyYDK4M5AzwDSYNSg1KDWgNnA3mDgwOHg5mDowOzA72Dw4PIA9gD24PkA+wD9YQEBAeEEIQXBBy
EJgQqhDOEOgRGBFSEagR4hIEEiYSTBKAEroS9BMYE1wTehOaE7wT9BQIFB4UNhRkFJQUxhT8FTIV
bBW2FgQWHhZgFowWuBboFy4XTBdyF7QX+Bg8GIQY3Bk6GZgZ8ho0GmwaphriGzQbSBteG3YbpBvm
HCIcVByGHLwdAB1KHXgdsh3gHhAeQh6KHsYe9h9KH1Yfch+aH9QgGiBaIJggziDyIRIhNCFGIVgh
biGEIaohxCHkIfgiECIeIiwiSiJoIoYiuiLuIyIjPCNiI3gjrCQQJCAkMCRAJHwkoCTSJQYlHCU2
JVAlXiV0JbQl0iYCJiImPiZaJnQnAic6J3J42qV8CWAb1bXo3Blbsi1Zsi1ZY1u7ZGm0WbLWkS1Z
8iLZjrc4jpM4zh6SkB2SkEBIWJImlEACKRBKCLTwIKRQeAEKBfpT2rL0tyyvbKXQ0u3TXwqFUrYC
r7H8z70zkmVbdvL/h8x4JM2ce+7Z7znnDkVT88fvQ4/S/6QYSkpRxeZKM1NprkSPZu5GK0yZP40y
PWffYBRnP6UoiqYqxv9FfU2fgHuVFMVbVUHGYg+HIsGAplotuSq6dOGPVDoLC8cT6C9jS3Qq1qxV
s2aKPLsT3YUupk9SMoqlKJU1Ek4g8pyUzbv+tqWa1lZXaIq7sxforhclNTpNJa3+RfaCwBv/nKLQ
24CLljJSVNDKW6Vw8EFyBKXkkFrxwcFP328a7hpqmp/SpJem1XA11DkUHUpVp5d1abotyzqXPvHE
E/4X/U8If/wvvkgx4x+P34EOMhRAt1EuimJ5O8drWJWXhgknUVCqYaV2TmqgYeZKpFKzvAKpQpw0
MqDut/u1kSZdjW5FW3W0OmT0qC0RTR27MKWur3HorfEqZ2zNqCwa9ZcgympJW/u2SJeskHFRQ+kn
ekebaXCnbAk9bOYek8Uzp0zmJ+vxfIupnvHP6RqgH6Z9LeDkw7NGkzjABSLhkNUiqVYX/na7A93r
+k4wvKQpEF4SsTSHLc2HA+FR+DTKW2JhS4w+MbY4HVqwpzO04HLf0tYB+Iea8Af8ZaPwBQUYyMc/
R1cDLvWARTNFma2cxIpHTNB8blwFAyTSsBGelUg10gCQz84BDhogVQKFQ3bACPXPqWpuCbSwDW6T
dDjCedWqSLVVWl5RYrKE/F72Yc5XWyIrG9ZfgHx+pbLO2Rhvj/kGki6tNzB8VSBsbK4PV+m4xhZt
bFC3rT2OWvpNLs/QGosD3a4t57r9OtVGoB3Cskf9LyJ7kyTv29OFjCL3q8ebkJZ+iCoDvkvt4QoV
KwE+rwzWvuNeuPmJilUXoXUoUXtr5oaHFuL7xx8fb6J+LNyv4jXVFQwXqQqHLg7W/R7up++sWLsp
czzzbO2taDt+AFGd6Fq0HvCpxPjwUo7neBYElmelrJR72WO6SL59VD+k9pi2lm8bNQyha3cF7c6E
tXv7ziDnTFi6MAwP9R10KcrgOaGs7IPMo80HrWHLQdlBc9h0EDWdOOG/5RaC4z/GD1GXU8uoCtBc
tUTKJRBvzUrJ5W1evc4nLamosbDVOrtnlDUovWyNSmPWE3qw1BvU66gCOE/hcX5+uvz0G3H4HtuD
ywAm4MDmSVxStAJlExYAjT8//iFy06cxDCnIbXEE+Xg1/SyxDRzI0wmgRzlItgBJZJECcQEsLVaL
AlWr72tOx3Z2NqdiO5PeQS4Gh3zJ0k3/+4ElSzf+9YHUf77cve6hl+esA7w6YMB2sA0SrCMqoG/w
dO8Ve6xnOmh+o++7hMfjY3C6Hcaspign4iPwP5ZJKSfOAShpy7xV9YolXWQzxvyezpHk3B1nfjHw
394Lo1Znt29ZV7LvoXcBzlnA/RjAsRHMwUYEsb5hUOJlPlB8OhFbqGhT9fpjbiNbUiG1B6JdcYc3
uSLZNxDv2iBPt1nWbGpzOFEarUj0dblXppNdu8u1q0YOC3YP430tzK0MqEXsHg9GAJs5FfNFr/31
SqRftjykCLfMefuhOehkZkFHB+rOPCnItQRwvReeJVTm8vBTmcFWikjesVvfqpjjndPS4Av1oUrl
8wE739h0ifygefV1cwfDNWhRx3uNc5LbHhPsej3AvA/mX0vZs7yjARAr9SKrhSFAc2zEVAEbcLIj
YWja0tGQKuOL7IbVLUWhlC/uXhqxhlm9IRIok6+cy9/18J6oz2NzZb7WLO26+hurU/NWOqyeC0Ou
C2AewDN0U5a/yMqbpevno9oXFMgkp0c6QhS2UeWAF+avhjJTDRgzEE/ei3JCKjWAREkYQbqwYWII
3zgsaJq7bxno1dnXdDcPDjebbevKXe2t9ojewyUtlb5uu/yarr3m6h5nz862VN9Gtnaua2QnurJy
fvuceU3GaObJkRZXvKxydZvTAfQpHf8CXU/fB37KAVgToaatWFAMIOIq0EJsOkHeWSLiwBIe0EBl
ORJFi2xAIhohgUi8NQJEijaW0fflUQlJJeVMjk6WBkInmqoE/XwFfSD43HwNVeVdt6q1ZhaOVqy1
aq2lDGssPtARfNapWROWO2w/MKwKSlfAguQDnGxN9CLYSVYFdUyABn66qbvRt9FZzM8GxNukxSzq
yfxZhlYpMn95/+5j/mMtl2zHslZNvYEOo18IsQoyA9/hQPsyP5Gj1gg5o2/7P/cTmGUAc5cAExXz
No4vRpsy31Ug/QdyZESRY4ntO6LHAGZy/F/oAuAP9qkULyXyG843BQpGLc2b3ZNJeTgRthrqjay/
uSltC4dtbYSCOssrtVqrb36ox2Fw1YbsXY2uHj4QjX6YpaegL/z4j+hu+ioqQrWBW8+zdVgOfEh0
pPAVeAQG5DIYEPHJigcrwcqURNiDqpF2/d7R44tGtyxpMjlo5Guxhz0Lw9EKWTLGGOQGvXpJb/+h
uRtHu9or+0bUnKrCWu6MpDtv/8am53bv33H145xR2t/clj4w2h3NfKAsd1kTF8bWbt3+2IpLDkXr
kr/SaWv/I338O5j/rwIdE6BzUuzlzCTeAsOjYpCvV3pjfC7SLBqoPHz8OH0i04bWZk4QHSyFZ26D
ZxQgfyRKU03SPaJwbiQlF/D3wXtu3tnalW4ym5fX+cIOa32gyJvod4XpE72x9CWysg7HwmvQpSuC
nOPPmZdWJuZ/gvmMfccDhH+TrA8mGI2pB/Q63dZlaF7flkhIOkubHGknm/T54u3ylcta7jq1bUFa
sebCm454dy3QXYH5g3HGNlJO1UxgrCjirAIf3Ii59qqb9zYPyWoaYks4OjDoqnab/bvoE2vWGIY3
XzgS6VhzZLct1T72d8HmYni3ADwZpppKjEnBu6Cvbv5K+WDgpPJk+EH6RMefOz6ZfH+pMLpw/3Bv
9mZya3bep2Dexuy8mZzVFSYewa5age6NtVe6YiuikWamnTZoXd3umrg7VX2h4lHbViBBw2VHdg4s
SChdoXXfOtK4a8/yjkdO5/B4LYe3lcHRflAVRMne1F2p3pt7W+9q7UXhzIvA8D8gSw536j2yPiC4
A9a98AmNvwO4roSr8gm/wwM4Berrt9pYn81ddknvJVV98mCTw+Wjy8Y+mzcnh8N7WRwYJcI4wD+0
at5AWwMAn/Px6D9Q/WKMwyNobubZ7DNKeKZYoDdDKN17AGg89j3xd7qP8Bf/zlhlGKoWBdFTPTs+
NQAiN68pe2cdLRv7ghwnMi70Zj49SvFzuYeS3fxmQCSysRe9n2HhbjP6I5WLaR4B/lRQhnwOYfPP
EVES+HQ63VHlbFocSqeMzRti9rS7to1LuWrkG4a9lx++pH/TcOyu+7an1txwQ+CyNTfeGNhFZWX0
DkIXdZ6MIjdSMWL0AaS/onmOZ3VHbE4s1NRmM9InhjsSW3tRb+arjSmPN4vj7wmOKojkJ+FI40AU
7AwOTMX4axKuiwZKYsVVivLSmnilJzoF4y2Zd5KNZXpJquhY2UVtHw1mERfwvpPIgYZwlEiVYBFk
SMQc8QPaRLz35j2x3sGmWCzc3FpvROWZz+gTC9oWHKxEicxXm9IeD4nhPgYaHwT8LWLsZRCAkDUa
GFBsBMCCGhgY4ApPf7VfEdS5kp6QZ2PnoNujD7rCOqdTt0HOGaJ1xu64tSe60Du4jY+6O3x1EE13
2xdfLsh1Gk43ENuHqY3jDeu3+g5uUCCjciMEHEQfXYDL63CPWqQkFnAJsdhE1iWPJ/qLt/RuLeJM
9Q3lW3u3OOW9bTUa9FFGoSuxO8It6NNM5ZMAZxiAPZOLXbG8f39RRa/uj4MgwL+keYIPLADoi/Jk
WFALUM7tg54n5zr6fT9rdZ2ZSzNjY/DQR7QKH5he/yXClmVlmAliL4P4QefxRb+ODVpvHHkJlWa+
RItQKpPJPI7HWirKfQnBh8FSzzzQl2wbsJ+e/wHSoqszL6Ng5mrCDzB56JBou8w8CcxQcCzzDwVy
/UCBZOWZ18+005qO5Nh7Qgz+7Hg7KgL+AV1ZYuuYYMfVP90n67u/92lmTXCMhvEXj39I3SCsG9jK
YOXiMCwaxlqE5x8Zb6c+yz7PB4EzwcA+ee/9vbL9TwfpTBDjb0f9qEegJxL0FvWEDbc1PROCH1SZ
j9CAAOsH4yep342/RcaBqOJXmb/IkW5JkNB7Le2hfkOfwb+prFzwN95UivYcFXRIAXxfgz6m9Di+
A78oycVELB+ZFEiAn0sibJ9BLFBVqszW4okvaNPzMrXEbgp7Vc1zmjulLzSaNBK71u33xRJNg7ut
xhGt0mR2gxQFqyyZN2IrDdZl4R4Yl4Zx18O8RPvCSTEBI1MsjESJDOihdo0ydXMq4mnyBmrcvVFD
wFDJs43KQFG9fKiTPvGvnt5U46W75rakVq+yLvKZ/2TxwZxrAf4gzIvN86uCW0WiW70z0akLDPvb
LbZqhyeln2PRqVzy+fNDOzak/QH7ur3hjcYwR2jEkjXCCVjvgrdSYcoEmSylEjSbdViYOq8ZGsui
qVtSimnYMvXoY6czM7Y20dOTnoovTdVgHwP4aihTHsZAdaskGzepgpghMAHpve09rHc4tKfqwxKX
y+MyRGySUnMiWFciHx5ybNk+cKyp025obI64U6jOp3OEmztx8I7XzigMawqVaAeCfNbMKBFI74L0
cl+5r7J2qZ6tkypcsqr28nZ0Kj64Xc5LwoNxYf32p/E4ugLw1FLOCW+YzMZ9JHjhsWvkBHoIlveC
RR7OFLf7lRpPc0NI4+716cJSZcfF1QvKa3xKP2Or1fsNlc9Fw418y+KedKdv5865Hntnpmz5/DGv
5S1joHX5ivoRIss0nNYJdgpsh7D+YyZkR4rkqSHGHvAPYJGJJO2OIrRDWcoNZe6iT3zd77DIhPwb
hkO9TV8LtkQJPM0LkDGwe6pqLWo4tqU2pWhXTSVrwMfYm+hdQoNvjsfJsyTGkgo0EAKCfEBNfmV9
cbVRsSe1Rxk8LUJ8zuJVtdKusTdTTfQ/soCz87oxa9u4bKwgRfXdnrlamMvql/q+/4cL9oCLbkeS
twS7XjX+OYVziEphfSiabCIra4aKrkrtLdJXlZfVyjsr1XR87OWKUoMyohHGoj3AQ/sEDSWYiBNX
OXJmqfpqaqjIXhdR92Pq1kVUA0AZRait3oWirTZXMdpRUcI1WjJ3oR01tI1cvNvWz+klkkHOLNNk
+QZjnptvADiStDmBb9UM5huBZFXJBb7ViPZKCRKYFzGLViOXa7k13q71D/lj+OzhWvUxrk0vnzsQ
2bW5c+5A+NLNnS1b9gdWbt0fWAH8fHu8G60HmOdliwprN7ZFGfpEooAtwvajm+jMedoPJYzAz2A/
OsfW/quA/RDoW48+wvITFNDHei3tBHIqG4cqShUtXvRuaqCTGaJysUcL4GSZlPfxMmLoIdp5kh/e
6k5VuLQtZq+W47T9rX0OZ5m7xuRwBVwL5fVGDx+wsG6rPWJqHo55qutcptqQo4NrHRVk1ATjIPpC
wQ5jGRUTfeAss7K6faiox1/u16f1beXtXURma+RdFWrUHT9wIJ75mVypE+RWBbAuBR3EGfggoxYs
OQlPstTkt6SGaGSvDakHJ+To3cwRpqyE4TxmWNnpc8KEqASctgM8EqswWN9u6i3tKn2gDx7Zhm4k
97SC0KXhnmmxyrauolNddKfink7pd3vQwcweeOgK9A18YPrioHs9PCfos9TKczhWkSKmy3pZ7z2B
LsP2njuefvrzj5966mPCj7fBruK5GSf4kbWqOb0WVx3LXN1VDnOsr07Nt9idRQtS82h7XQhU8mL1
0HPG2nDjJUthjhVKdGXmWGkF5zWjpZmy0UUC3z+EUwuMQ9ZnhBtSJvjmB7K/HSv/q+y92yJoWzyU
OSLc+xHEN7UQn+DoGud8QkmEFZcHzCIxJMVug+QE4Q/4qBgaqTH7UVGQ4WTBihC7GhbwrvKIMqAv
CtKqcuPTHptU/b6yOODt/HBDMPJlWqVwVFX8TV6sqgY6zwfMrhHjJGtl8JpgEGdX0fjDECO9I+Ag
xNpksKAUj+1GPKZSBGftCWqwvN1WYw5gFMpCBVCg72uwSQAHib8gDil0Cr0k+BbEYtpHcuGPBOsH
ui0UXmMzFJWqQg3B4FpypfPSJ4o/infHn5F8FJ8TX4r9w9/Gu6lXQRdJnQlLpyqbIAHtWo3rTGLO
CnkyOvpkXoKFhrjlDjRIhyEO0JGqDU6m5Oo1DC5HKBGjZlUKtFq9zLM6WRGpsqhtMtVwDauyu1R8
/fxI25plmus7b91Fd82V6wLqssy1xbVhK7OYGu9h0SWVjxK5pkCXvgOxQBDn/IOi3mtyaw7EgoZC
pIG/JEoKyGNakDRouL6sC8mKi7f38HOYdmmzs0NaTvfKYkwLx8rZ1grOILc113dXm3zKUB9CyoDE
rrJWrr6xNaoZ2NynsjaUBmKbdGVGS9zlrOcNO5sZOYPl7b/h9AbQXyNmhkk1TAjZxUTCg33afbJ9
tftkW6I4gH9pvWxPzR7Znj2BrX5YQONI/hH/1gCm44Q8SQWJCgtSBXKF4r0ojvn02/HTaAPQwEn5
YWS1VGDSJFsoFoRydKGlIVwGYiPItdY7lFzFuXUtFp/WbtO2hJrn8Qs4pzZscDkbnW31CwPdKLXR
5o61L291h6MO1mmuD5sDPaX+1pahZq7Bb9GFbcmQt142z+/UYpxX0Y0oTX9TyHci9UQoLs27Rmm9
qlJjUFVoDuvVlRq9uoKlV6r0mgq1XlMp/GVh1q3jX9Cf0qdAzyspHMVWYAgVAKCqwm6SVGhMHJuD
mZ0dzJv+9MUbb3jhhRtufOhHmbNPPomKzKpE98j6o0s3+/S20d69i9Ip9E7mLy++gAwvZGyo6Kmn
Mmefelwb2ji45shgdXr3orZRwU/3oQTqhxipDGe2VBZiv7CDy7o+Ud7etgWcBoOBrvWG0+FSk7Or
u6naVkIv293UHjmi1lszP3cHN/bdomUxTD2VhJj+XqoYW1XeyoHtYsn5m9HA/vjB+8g5+dgjjz8M
B7HdQr61GKgJFhiWdIcjIXfmMzn6xefP4jQrVQTr1TF0FmSghKqCyNtJ6G6xhyJAdIi1MVECEamV
wyUqMc3Jk6QfNgdnr3h4z96H9+o2375x021bttld3mpTeKnB4Td62aoWdUpjQq+O7IU79izu37Sp
v2/zZu/KlZ9Z9VbfgKp6VKhN9dNz0QC9F9s9WHAGUerLsi/puQ2EhsvQ40DDk8DDqhxeQRExjBfq
71qT7vQHuhoaEm5Xwkt7/J3pNV1dASP+wkNi1U+oBrHOppxcaWNw7jm/2taZ+WkZahVrbhmBPrjW
dxItYWJYJwG/bBUkVxHChaaa18r2D2qrnfUGf4unuW9rafGN6KRn/wX2mlp/fazR7Vt1USlmAcjE
d9BigGXPSneBctMk6BoUbOcdMZlH6TfVa9XVkrLiWoOzjnVYDA2t3kijI0AbfUN2kyESs9bWgnT5
bBqt1xT3uW2dUiXBvwPWvl+Ka1+Y/JcHGi+izxw9KvrcbuJzVcL6nZHkogkFhD+cHuKwoXJPXVMV
DibK2Q5LieJJCMAPt/pMOJJIml00GWMu2Ow3hPxgsZBrJIoVQ8jlvnv0bvfypsFt855dQ78x5kGn
FnfM2QHPtFA/o04iB5HkvEXDZrWWlBt+RgoMKqH2eAp84CLBKkgn1b34bJgqKQkaaqttGl2tQqEN
uF1limot/3S92WRQaxWVwx1lxhpbiOB6GfDTwoRxzKMSaosvRDtTut1++D4Vt6zDctcPuhsn6xuN
uDbCCX2hnJktxj/U2KhPN6zUpzwOH/xDiVjYvWrgYs/KgYYrAq17A20ge1+Avjqy+qoKslIreDI4
83OIpqbIGd2bVViijz2AgJfkYBVguWB9VYqsSEXkFrvBIK43C3jTNZklTnTSbGV5zZGyJ1PR+iXO
g/9DmAx9YmwtHC+uW+c9C2bsUnFqABXDX0jg11HmLPSCcm2bNEz9dCHPXD9psLVTRf73wqhFuP+C
HqLvFucULTin89MHOl5gzrvOpSOTifHJLBpDj78x3kJ9BbGLFnsN3A2gVjDZBISwYAG3yOfFM1cl
5Va/3zpRUQqFbe1iRQmparVWriPQGDOTmlJno6uXD0R1+r/j2pkY8zCkNjPMrAf6yIBCYGc4nAvL
VWiGvalUaV6Vhn7r6NnbJpVqRBh358EA4jJ5MO4GvW/Ig8GsPzoViADjGoAhIXzCeGCrnw/mGod9
0L2qIzAJmw0bZsDnfmY12BYtXlUii5cGTlqBkwZYr/JBST7YrmoVLS83qhyG9mo1XBnUTuOS/DHe
NFgNi68hpzFX3lBFZJw7mEZiHYx4NTdT3JBP0TtwCAGRgxBCGOCDMZ82pTiMUBmEcAL+nv1r/uyE
Ma9kluSNObVfR4wn8se0mFxRm8nJWzQmtkpj1Ojy5/cDt9nG46PeqKmqxceYM39MevwtOC0luY6q
XP3OnK1GcQD/l1+a9wwOos2oRkEqTZGH3ux/HMPAtanjsAS6lxLqTu2k3uab2kPAFy6+KVG2PyzP
wnIXFCjILdFOtrrttd+dUqDbizyiIRZqCbcQeVUKEs/kV9eWgsg35FfYsMiLZTbh2e/lniWSnvfs
90DUV+c9K4j6RI1uYmwJiSuyUp4H4ogg5hdOwoCIuQhGqI3eI8qddWapmwT2nmmRqyYfz+lil0Na
wJkhc5ZO0AsxQKd9uEwn0Ee8b17uPpE2aB7Q5Em4L0uLCTqECR3KJtEBhYX5nyGQxXmLc+4X56yd
fc6of9pct+DxC82R4AKrPfQEyYcbs9nZbO0WPEUwW72VBk9c1R5XxDuyJdyG4VBALOKGhpEXQuxs
IRd5/y6Ucv+enetrxB7pC1ujXE3wogLGaEeuTjjZFOVXDRmhZkhoryZWAXNpxsoh2gW8O164fIjZ
eXiWEqI41nN5Y2FOzzzWc8D/VwqPRURitsEm5iUBvtsmJGXm4e4X5OfXM80Oi9R5zO91wq96KlCI
Y2jm4bcV4GDm3zMgk89Pw2w4FRGcfiLKv4OKzKIBM+P2k2l6cWAGvkxTld/OjB2CGOtpdBn6A440
bZzYkshKWWQYOmA4OJ8bOmA8MO+ZDVu4zRtM5Ix99DjM57fgC2pg5ecQM7+8iDlO1hHsVYC3VGVn
YBI8ozndbmVD4XKCcFt9XZBXANJBe4erFv1NccKWctfS75fL/bb5jgjBNehYyPEYXXrr8uuuD6Mt
sbE34SKUualJsEGk7krkuCZPY6ZWX9FloCzHppZgiZoUKsNOg5vVjmlwnwfFeHEqXEElCgGegCsh
FjBPE6aBfkBQglemY03EvyDejAhfkDHPOSRs2pA/nRbXXDVtbtPFqiAmmIakdkxoKM/5EiEdRZzs
U9kysuBV8ovJgr3dJ/YOCRl5URvciBcbhxjcYFLnj3XXNs4Px9qj7fUmXzN9Yvdwh2t+ry+1MeVs
zHyNZRv3K5+mT1JekO1JGSpaCMftQi0l23TK4DwVumNe60K30xQw+uwNdr3bpefMczTbU9srFydj
/QaXy8D5uMOxZW0NkYC91m9tqbdGzAauRm9ZNfY1Le0ZbgtZQiaDvaau0ZrEKxdcdyHraDPhixCj
n2e1OATSKz9XxZj2HB1LzV42FvHYn4eHEOefJx77gWvuc+Jx5ug5ERHwWA94SEgXed5a4TxRWS9o
h//cVAFtOU+6fIv+IfgLPxWfYb1xnqj5CriPlefE05XnR948B7rgSzC+V4i5zjCussyybjlPvK+Y
5lrM58R6auZ07Oi5UBdxX0u/lof7zOuf88S9dMrqqObc9J6+ZHr0nLgTOaHj6GOS806CPZloLwC7
MglZLtv6zUZII0JQQJ/BhldEOxigne+XuDiPyxjrWFaX7mnEGEfLVFI6HfBXxbqXlfm7L/vkVJnJ
NHA5Ki521DmDLZHf2Q3+pog7tWBBW3T+JSbjgprKdkB2aOhYk8pid0UyPy6tqtGazKPRHiEHWQtr
NtzL0TDTmm1yY0duybY5f8m2fFqzR3Dqgo29blLzhz23XMNelPQAniH9GfXn7tDAfTYzdmm8hM3h
jJ0ayHBUHO/g+Y+H7eCM46FasHuzDPifJB8qjLlBHJM7rzlimzfjsGOCiZttpmDbQJ/wuFeCLcDj
enB+7JyzncFWzEyBqmmRwSxoDU0tp4j9Iq8RvyMVuqjwKu81YORy3COCXRduDiH3IWP2vtz60wgM
uAXfSHwLaSMR7y0mPmTK+rNYoNztBDSx//AIQ+7XijbzXOtP7TRjOAdDm27vhJ4WwoMH6UdgHeqC
+XHCdjGIoMWGf7HNm7VzTHYrBA7nHyndIpOnq4rnlPbIa3wL+f3uJU0mj5SW7+MSOoPREDRU0hB7
gdGKaTR2tm2k7cg3F92VunWH3TKnPVO++QpffbR1yahxZY4eN4MPUwu9aAW6RLjpy6BpfSP+Au5r
ai/JvRPOSpR7HNsohd14M3eVYL4X6ix5Gyt0we4S9O+jVE63DpzPGFhmCo2B7FiJCw5CX48VeEJ/
8RiWWccQZK3gMDJRa2eYDtbY7FiYV3gs36w0m8ayQsO+XoBpM6DwdR7vBNuxD3RCSTLWwVlnPYO+
FCSDdZr+zEB73/Taq4c6hnbQZSQ/pxV3esywewWtzzwnQ/H/Wcnq1HB48N+KGh1q8v+arVTp2Eq1
FhnwVU2FWovXrF/CfK8hfY0GnIsIWnM+MLtgxeuDah7bSQ1MvgVJ7T5vOZmgWe3z4avGuNn2VPlA
m756oFX/VNIUwPNy6FrrG/DUuJ1Mhtu6/1swQ3qM6CXpuwG5IlZnps4bvCIo1H1jBN0o2IKDfnVU
hL3/nLBBWgvB3gQqURA2veKo2N86gbthVtyxPhQaYp6gDjPMAGsDQ8a4GmQQZ0J9s4wyg/wVGnbD
NH9VeJ7MNFdF+tnioBPYB1lza/9ZO4rQPiDkH2dpK8J+6+zVs/cWiX1059vTG02dmaGnN8PML9TT
y5B5XSn6P37W3MDss71yGnGPzTb3qT7z7EuzEoL04lGPEI9NVv64Bw8+IVJD1wl14iQNqPBKhBtb
VBpFoqu3JaVIRx9UfNXyVbsJtWU+sLZbx6kOxAq9zNTH8Bzue0si8iCdbZ7DrjmJauWJrlRLQp4M
FOkrFWW1lqEiD5JEjSiRed8UNf1FaP3srFT/XNzbQR/I7nnM9Xxns165mkquDBJBn3ypaGwLx1Su
5tFQR4Xiy2yJ5Y8pFHd1uWqaDfH2gXWLGvdet6O3rx0n7S9C/GUX3HBDaFdrzv/RvWC3dBDN+sV1
R7aoyEmyAUbeUgMkhQtlo/oETTe9L53ndhmb24NxSbx/r3dVYqQiPO+yf54qbWlo7m/mkrpmQ8hY
+TureSMEc82hrXfOvXP7pk3H2mQO67J19Mot+4Mr21csx3KKex9PkxyWU8hkwLTROTZgoP6Oes42
z5P5r5l3YtBvHd2w4ezhc+zHEMbfCPppEXqoZ+++VAn4zdKEuVjAbLZeTDoKmBE+CDktIb9mmjWG
FDNd905Tlq25vNf0akZeEowm+yluJ3SuyNGZyW2sQFEB7zsnbbAQaHhb3j4LmvQsrgB6lWI4E12L
ImUmmhfrBIBiDyP6pzBnNP6n8RUoCfKuJn0e1nCQJ7ImNr5XWxv6l3rjUVmsobFOL2Md5aHR9Xej
uxNnA011vCL6YYLsoaE9SEFi9WykjhSCayARenafBfIK94i4vSRgBOsDggreH0OHUAd9mOQHJRYs
cmCWUEfzrUZHqbMxWEFfHI/r1CyrhntH6ST1GH0b6Z7I481jBggV8EFfrILYAFt9mlpIu6izYk5i
Uj97fj7irilZhgJJBIr0XHaCfdVgO2XM2lAWng/UGHUNOssG3ZLAJZpGg24YrHhHndgnRLtQmuSf
qOkR37sForv8hBHgD2RE/bn1FaYvHG9tcYw8utUxgt2P0LND1gj70edinzPutSH7mT7qXLViVecq
ezmKljvQDzM96IeJhLj3Hz0m7P234Y6nU5mLy9HRN+Lib/T6id/oJWNnyumU8Ntu9CqszU6SDs5Q
hGcVSEjgSiz23RMbhD06ukTcGFxbpTHrBFpcjF6hzorPTtppHNCcbffqdN4S8dmtntEaI95UXMWS
VxX8f73ngKYuB5y/S8aFFQaagjU35TNS5aNyfPKcGhZPzEk7ZYI0nh95ZwAZZ+oM2dlmfHzm6ddN
pQXZs43UhBbmAtRgZyfP7e1evd4rlVayZrZaP4lYdZMoh6iFqAvxwvs1EFZtqfA6C+QdcTcERksX
qxt0o7S66NVXi5zMpk0M4bGReow8gzemSTkpL80+KDyM+NKRxtHSkWp4NHdFtziLfiPAyF4QWN3U
IYiJlpLaVX6np6Gr0RnBx5gvzTt86QhIasX4v+gW8s4KUnfP3xUfnOE6+z6Ll8TespfE7uPc+y2y
fycakaX4fS2MdtL7WmJ4H+H/7Ttb0P/jm1wo4Uf4iH88nxe7ZNZPuUPQRT2VpH5HetDEjtFv5rpE
ib59Ab//QPhdldebRrrS8O/rsCYJe4Jx1xYKkQYsoaUKw1eCL3+Cvk+oH2JDCZaLbF0W8iVkEwaY
Mgk5iSHPmbYuxiGzFisscqtlc4/QR9IXuUJ2dVnplbLdRdn93VqLn+P9W67HLSSP+R0Rv9kobPMG
HVyPfoIeJnso1aQzUyo4JSGAI02e6GqdY0WJ0qFrdJcNuH/jcuvcruKL0U9+CP+9c+eddc88Uwfz
+xKexv0wwHR4Jpd2I/jy+DUwYhTIKlGpYqjB3LwyemTdnPmKA4rmRXqLPe2sqS2RdMTXxo4dXf3E
vg/aOjoakGZNMrryukP+YTuny+aWttKPgK6YhV0gAm28iOPzFuniQLeLOSRUW5V21/gWRnKZJLmQ
OIrd3qD5xg04kdQyOX+U2+PPYA/sROL+/sx/IM2iBTW/xDuoUSZDi+9PGb8PfSHstyrO8yOopu/4
geO9x8MKdI0yMko/OjZAP4p3yApxxH2wViXPaEnkzqsYoPfz/h89pPi38keNcKJHMi9nnuvoREnU
AI8hyo0iaBe6kPT3Yv+zKfNTGWpFEb+w/4TWZfemMtIkYlDw7zzaie5hkCyAEjWN5swr9DCJ29zU
g+gd9BlVDZbHndczykZyb1/gJHy2Y1BjBZLyotff52wYjNd7JcEUvrB5JYHrnIE6tZuXHlNxbKXU
6wzWPZgIzLsm4duSCM47CH/8F0Ys9l0XOZz1F+Mr8v6bO1A/TEKJ33/D4/1uwhYQKSMx6GUGt/wm
dpVBZnTLbmLXBMP0zRuCkbEt64U1eDX1PDqMfiP4iyTCwW42urZapn6uLtd7LcscLqvM6DUvd7hK
5AaveZnDbZWTz843wiqzMlRl/hUcSrgm71NZhg7TCWyL+Ulv0RLWMv3u3hH5pmX3y8/0enpHZJuX
3S/78bJL/Tf5d+2Ck9gjLby/oyz3Bg/yao6Jt3jYSHO0+C6PB/1Urrd6V/Y58S0djMDk7Js60kJT
tfi+jszP/WT9BXdfRvb4k104jCqoYlQydLR6+L3qBR883/EcGkD9mR9k/ohsSJd5B8bCnVou+mF6
G4zEknexBKkLMS2zffsRFT8R5gVZoEAxaRfK/kp+UuLlDSN6GHhWituchU7lCS+Kd9gIATIWK9Lp
rvlV5bAlYNNZPF0Kut5g9dtNyUPGQ0jBmZJK2gZfzK2HH0sq51sCroGAK8ooDqlkKa+zuc8/Ykw2
8P0T37nId3Fv0/G+oEVvc6DWdmm5wdpoMdofOvSp0d4uL4FP6Aj8ZO0LZp5o7Iy6FMr4sLcp6vT3
H4p5878I9B2KYZ8I9HyK+GIj9omF9rbyU3Z4Ftrr+mrers+8fa/fmLr/E3zw5+J4M4ymmrIbs9Bo
N+Xt0MwbLdM/ebcm9X8AAEz7jQAAAHjatZS/b9NAFMe//tGUqC1qy4LaDjemUmOnUQsoC0RRhgyt
qlSqEBJIVuymVmNfsN38WBhYYOavYGRk68rOBn8GExvvLi9RYyD8Ej7J97Hv3Xvf9+7ZAHaMMxiY
XPfRZzZwF5+YTRQMg9nCQ+M1sw3XLDEvYc3MmAvYMt8zL6NsucxFrFlj5hVsW9fMq9i27zCvQ9jP
mTdw237HvIkd+ytFN+wiPcVaiWIDFbxlNsnTF2YLL4xbzDaeGR+Yl0jbY+YCDsyXzMt4Yn5kLmLL
esq8gnvWK+ZV4s/M63hku8wbpO0N8yYe2NdoQFIlx0gQoosLZBAooYNdmo/g0ftLolNajcgyRqrv
e/SuSvlUcAiHuI4eDXHDS6qfApoDmgd098kSDdkfJ2H3IhOlzq448pJLcRpGMk5lvCeqlcqhI+q9
ntAmqUiCNEgGgU8bT8iLxEjr8Mj3MT0NNKnYSnWTVhukTaBNGnCSyFEYeeJYDjzymYnmqBGLNq20
yNyjTSGliVbm9UKap7nmM62Rv5/HVjEzWlXc0PY+ZRrrrH2tJCAtVxRMeRdzoWs3aghViWkhamJO
e3OUJZ5oyNgP4jTwRTvoXvW8REyU13TVfrc+f6v1R9VcpAo40+ee0m6pz6RKp69y3aelIElDGYuq
U6ns55VPdddn51nOKVO6pnqUnLo62DLHb2WLShHqtlQ0KYQqQDRrconzhU3v5MoQpsITVAU/iFQf
y/P5fnawwBfmTKE/mYw+xBpcGkM9nJm29DslHZoj2pZl/ZrrDodDR2lIp6E7Mvo/Pv+1zX7ZSFjc
h/k2+7PfgnIs5hoo/3sIuuQa3wCR1EMnAAAAeNptzHWUDwYAwPHP78Jh0zXdHTvNTJxz8hw7Tnef
uJvjNqbjsNTdrPB0x9PT3c2Y2LAS7/kLz98+733//QryzusUWb3Pq7cFBAWCAsGChQiVSpjU0kjr
Ax9KJ70MMsoksyxvH9lkl8NHcsoltzzyyie/AgoqpLAiiiqmuBJKKqW0Msoq52Phyqugokoqq6Kq
aqr7RA2fqqmW2uqIUFekeqLU10BDjTTWRLSmYjTT3GditdBSnFZaa6OtdtrroKNOOuuiayDEcuOl
mOWRCX7wrYVW+NE3rhlnuv89873ZJjnglv8sstILz720zGpHHbZGN91N0cNxPR1xzGknnHTKn3o5
74yz1urtX1NdcsFFfTz21Nf6itfPAP0lWCLRQJ9LMkiywb7wpb8M8ZWhhhlhuG2WGmWk0cZ44m87
XHbXPeus94f7dnrgoZ9d8bvrbrjpjqtum2+DjbbY6qBNNvvNWPtNtMohu+2xKxDqO4vN8at55vrH
T6ZZ4BeTzTDTdufstS84Ji46KDI2LDkhPjw8IjwkKjkp8Q3oln02AAAAAAH//wACeNpjYGRgYOAD
YjkGEGACQmaGbwyMDN8ZfgDZLGAxBgAt3AMjeNpjYGRgYOBikGPQYWDMSSzJY+BgYAGKMPz/zwCS
YczJTE8EijFAeEA5FjDNAcRSYJqJgY2Bh+EHkA5k+A4k/YCijAzeAJ61COEAAHjatVdNaFRXFP5m
nknGJGNmjE40jsnENmmqgrRoK7rQbtpSKlpQpNBFLdRNxUXpptBNV8WdlEKLK0EoFRHEhYUiSDAk
RCEodCQ0DNGQMEwa1DE4Ns7i9rvnvvfy3vz55sd7OPee+3fe+bvnvosQgE4MYDdCZ059dxYRrOMI
lIKeCX3z9bd6DKbHuTBbC914F1+wPyCrw9iATexNoo30ftaaCpEexTm2KVllIYYEMYSDquhbZ+E0
111GOPaDXtn994bz2IURSpFRs+oZ6xesC2pBFUnPc3fDRa0SC+SzjKYK+URcOq/yNlXQtP5GXby4
Wz0lrlDPrIysEB0J29UyZwpNSTtut4tqzLSB5XomWr00cvlKR50y5Dz0zNqomvH6gv159YRyPqnK
55K6w/kMrXJXpdVN4hX1q5rUFlPzJdLnTR1Qwv9c6ne7/Vfd0JYn58VgESP2eil6rPqjzqWLxrcm
Emvy0l9+Qds/lz2rzpjDxb8ysB9sG6kpTTOy8uqubfm0mqZdHxJn1H2VqYNnthFJKseQmnJ1/Md4
hTI+Zl0kZsVL6wPLlXbsZLQWbXOsi5qnnLP2V/JYsNsx7s2KJNPSf6zG1QRtlSWmiZnKvJo7uWXc
5kSLgkpLbwmvpVCba3WsfkCcFovk1ESlmPetXqnJa8nJFNRyrgWa3Hc0aopLQWdMnbXo/Zy691ps
vtrApiH0SN2JJG/gpIxF1s64lK3YWoF3hHt2lWcGbSc5cZkWaaVP3Hi126UOPg9LM03Qk1aet5lh
ssQ0T7TW9k/bw3P+/ZX9wZvgeivi0lMOVP+ekU3y9NWyudlat7Bzf+os5+SvSjddELvb5zFvMmHt
8xvYj7km42qxtbHq3ooLazmw0Rzu8sp6s3b9vFp7Hr1+88pQEvX5hvkvtzAX3mpoVz5Ynmg2huso
+/i66cAs30mmxEntZLuRmES/ZOy3fDtGZWQzwVv0W8piu47vJV26+a9hTr7FTG7xj6gTXRyN8iU2
wjshJl9ZK728HcDX1xbeBqZsc2d6OTbIN9oQduANvIm3MUzKu39TIF37S/rbS/rhsh2WoAPmXWmg
R/rekqggRV9Jv9elhkkPu9kxQetArFJN8n76ZYDeMLUpSVq9HSu0TZc9slmolLyFo+QaZatt5pQd
tJ7ZmfToHCcHizjothvtnulrHBDPap/20p9G05RPUw0xW+Nh277b2Te4jX7fwijooS/7bcunaviq
q2wkUTYS94HlyuwFv/fabIhU+GLfK0f6fJGkcVC49snpiVSNwgShixC1607Gz5D4xq9tvKo1YoQw
7dUh8aJ5hGjJHvokTn+0yWmMiFfXU5YUvzDCUxLl/9NurtiDd7hqLw5Tjo/wMePhE3xKHx0jjOI4
vuTa04T38D3hffyIn7Af5wiH8DPhMH7Bb/gAF3ARH+IPXMYRXCccxV+EY7iFMXyG24TjmMAkTmAK
d3ASD5DB53hEOIUlwlf/A13+JGcAAHjaY2BgYGQAgmOp20+B6BOXUrVhNABP2gcCAAA=) format('woff'), url('ProximaNovaAExCn-RegularIt.ttf')  format('truetype'), url('ProximaNovaAExCn-RegularIt.svg#ProximaNovaAExCn-RegularIt') format('svg');
  font-weight: normal;
  font-style: normal;
}


