.home_section
	background-image url('../img/inicio-bris-hotel_low.jpg')
	color white
	font-style italic
	background-position center top
	background-repeat no-repeat
	background-size cover
	width 100%
	height 100vh
	padding-top 385px
	h1
		font-size 85px
		font-weight 800
	h2
		font-size 65px
		font-weight 400
.reserves_section
	margin-top -59px
	a
		display block
		height 115px
		width 420px
		background-color #eaa92e
		color white
		font-size 36px
		line-height 3.1
		border-radius 6px
		margin 0 auto
		font-weight 300
.welcome_section
	padding-top 50px
	padding-bottom 80px
	h3
		font-size 46px
		font-weight 600
		color black
		font-style italic
		margin-bottom 15px
	span
		font-size 14px
		color #7a7a7a
		strong
			padding-top 6px
			margin-bottom -18px
			display block
.stripe
	width 100%
	height 260px
	border-bottom 10px solid #ffb600
	text-align left
	&_rooms
		background-image url('../img/stripe_1.jpg')
	&_services
		background-image url('../img/stripe_2.jpg')
	&_galleries
		background-image url('../img/stripe_3.jpg')
	&_contanct
		background-image url('../img/stripe_4.jpg')
	&_ctn
		height 100%
		text-align left
		color #ffb600
		.text_stripe
			display inline-block
			vertical-align middle
		h2
			color white
			font-size 55px
		span
			font-size 28px
			font-style italic
.rooms_section
	.ctn_rooms
		padding-top 55px
		padding-bottom 65px
	.type_room
		text-align left
		margin-top 48px
	.txt_type_room
	div.icon
	.list_photos_rooms
	li
		display inline-block
		vertical-align top
	.txt_type_room
		width 163px
		margin-top 3px
		h2
			color #737373
			font-size 30px
		a
			color #ed6969
			text-decoration underline
	div.icon
		color #7f873a
		margin-top 15px
		margin-right 12px
	ul.list_photos_rooms
		text-align left
		font-size 0
		li
			margin-left 25px
			width 28.2%
			max-width 244px
			min-width 244px
			img
				width 100%
.services_section
	text-align left
	.ctn_services
		padding-top 15px
		padding-bottom 35px
	.type_service
		margin-top 25px
		.img_services
		.txt_type_service
			display inline-block
			vertical-align middle
		.img_services
			max-width 470px
			img
				width 100%
		.txt_type_service
			margin-left 35px
			color #737373
			h2
				margin-bottom 15px
.galleries_section
	text-align left
	.ctn_galleries
		padding-top 45px
		padding-bottom 110px
		.type_gallery
			display inline-block
			vertical-align top
			background-color white
			box-shadow -2px 12px 5px rgba(0, 0, 0, 0.1)
			max-width 318px
			margin-right 22px
			&:last-child
				margin-right 0
			img
				width 100%
		.txt_type_gallery
			padding-left 25px
			padding-top 25px
			padding-bottom 33px
			h2
				font-weight 200
				margin-bottom 5px
			a
				color #ed6969
				text-decoration underline
				font-size 14px
.contanct_section
	.ctn_contanct
		padding-top 35px
		padding-bottom 45px
		.map
			width 1000px
			margin 0 auto
			img
				width 100%
