@font-face
	fontFace('asap-bold')
@font-face
	fontFace('asap-bolditalic')
@font-face
	fontFace('asap-italic')
@font-face
	fontFace('asap-medium')
@font-face
	fontFace('asap-mediumitalic')
@font-face
	fontFace('asap-regular')
@font-face
	fontFace('DIN-MediumAlternate')
@font-face
	fontFace('HelveticaNeueLTPro-Roman')
.clear
	*zoom 1
	&:before,&:after
		display table
		content ""
		line-height 0
	&:after
		clear both
body
	background #f4f3f4
	font-family $LatoGoogle
	height 100%
	font-size $baseFont
section
	position relative
	width 100%
	margin 0 auto
	text-align center
	padding 0 25px
.container
	margin 0 auto
	width 100%
	max-width 1200px
.hack_space
	width 0.001px
	height 100%
	display inline-block
	vertical-align middle
h1, h2, h3, h4
	display block
