form
fieldset
	margin 0
	padding 0
table
	border-collapse collapse
	border-spacing 0
	width 100%
fieldset
	border 0px
	min-height 72px
	margin-top 5px
	label
		padding-left 14px
input
	outline 0
	&.search
		border-radius 16px
		height 40px
		width 100%
		border 0px
		box-shadow 0px 1px 4px rgba(0, 0, 0, 0.1)
		background white
input[type="radio"],
input[type="checkbox"]
	margin 0
	padding 0
input[type="file"]
	margin-top 10px
	width 100%
.container_form
	padding 40px
	text-align center
	> h2
		margin-bottom 30px
	select
		display block
	fieldset
		text-align left
		position relative
		margin-top 20px
		input[type=file]
		input[type=email]
		input[type=text]
		input[type=password]
			padding-left 8px
	button
		margin-top 30px
	textarea
		margin-top 0
.box_login
	form
		font-family $HelveticaNeueLTPro-Roman
		fieldset
			input[type=email]
			input[type=text]
			input[type=password]
				width 100%
				background #f6f9fd
				border-radius 6px
				color #00accc
				margin-bottom 22px
				height 53px
				border 1px solid #00accc
			button
				border-radius 6px
				background red
				color white
				height 55px
				outline 0
				border 0
				font-size 14px
				text-transform uppercase
				width 100%
				margin-top 26px
				&.button_brown
					background #624e40
input:-moz-placeholder
	color $greenBlue
::-webkit-input-placeholder
	color $greenBlue
::-moz-placeholder
	color $greenBlue
:-ms-input-placeholder
	color $greenBlue
.load
	display none
	margin-bottom 15px
.message
	display none
	margin-bottom 15px
.alert_message
	width 0px
	transition all .5s
	font-size 0
	&.actived
		font-size 16px
		border-radius 7px
		border 1px solid red
		background-color #fc9a9a
		color red
		padding 15px
		text-align center
		width 85%
		margin 0 auto
		margin-bottom 22px
		strong
			color black
		ul
			li
				padding 5px
.date_open
	display inline-block
	vertical-align top
	background-color white
	width 48.6%
	margin 28px 0px
	border-radius 7px
	padding-left 60px
	position relative
	margin-right 10px
	&:before
		content '\E001'
		background-color #3d5afe
		width 42px
		height 42px
		border-radius 50%
		left 15px
		top 17px
		position absolute
		font-family 'icons'
		font-size 19px
		text-align center
		line-height 44px
		color white
	&._right
		margin-right 0px
		margin-left 10px
		&:before
			background-color #f44336
	label
		font-size 16px
		color #78909c
		padding-left 8px
		padding-top 12px
		display block
	input[type=text]
	input[type=file]
		border-bottom 0px
		font-size 14px
		height 30px
		color #445156
		max-width 97%
		&.valid
			border-bottom 0px
			box-shadow 0px
.js-back
	color #48cfd9
	left 315px
	position absolute
	top 92px
	z-index 2
	text-decoration underline !important
	&:hover
		color #38bfc9
		text-decoration underline !important
.container-page
	position relative