@font-face
	fontFace('asap-bold')
@font-face
	fontFace('asap-bolditalic')
@font-face
	fontFace('asap-italic')
@font-face
	fontFace('asap-medium')
@font-face
	fontFace('asap-mediumitalic')
@font-face
	fontFace('asap-regular')
body
	background white
	font-family $LatoGoogle
	height 100%
	font-size $baseFont
	padding-top 58px
section
	position relative
	width 100%
	margin 0 auto
img
// 	width 100%
.cf
	clear both
.pull-right
	float right
.pull-left
	float left
.text-center
	text-align center
.btn
	display inline-block
	border-radius 5px
	border none
	text-align center
.float-right
	float right
.float-left
	float left
