.box_head_contain
	// width 100%
	// position absolute
	// top 0
	// background-color #f0f3f7
	// height 156px
	// z-index 0
	display none
.content_table
	padding 26px 0px 0px 0px
	hr
		display none
	table
		width 95% !important
		thead
			border 0
			tr
				td
					text-align left
					padding 0 !important
					> a
						color #00bdcb
	h2
		display inline-block
		vertical-align top
		padding-left 35px
		padding-top 6px
		font-size 35px
		color #00bdcb
		font-family 'Avenir', Arial, sans-serif
	.box_right
		text-align right
		padding-right 20px
		margin-right 20px
		display block
		float right
		width 60%
		min-width 500px
		.js-filter
			display inline-block
			width auto
			height 38px
			vertical-align middle
		a
			background-color #00adbb
			display inline-block
			height 35px
			vertical-align middle
			line-height 34px
			color white
			font-size 14px
			width 100px
			text-align center
			border-radius 20px
			margin-right 8px
		fieldset
			position relative
			width 55%
			max-width 560px
			display inline-block
			input
				max-width 500px
				padding-left 18px
			.icon
				position absolute
				margin-left -11px
				background-color #00adbb
				color white
				width 30px
				height 30px
				border-radius 50%
				padding 3px
				text-align center
				right -9px
				top 5px
table
	width 95%
	margin 0 auto
	font-family 'Avenir', Arial, sans-serif
	img
		max-width 128px
		max-height 128px
tr
	height 55px
	text-align left
	.td_first
		padding-left 15px
	td:last-child
		text-align right
thead
	border-bottom 1px solid #cfd8dc !important
	tr
		color #4e5d63
		font-size 12px
		text-transform uppercase
		td
			color #00bdcb
			font-weight 900
tbody
	tr
		color #78909c
		font-size 14px
		border-bottom 1px solid #cfd8dc
		&:nth-child(2n-1)
			background-color #f9f9f9
		&:hover
			color #222628
			background-color #ffffff
		td
			padding 0px
		.btn-actions
			display inline-block
		.icon-smiley.active
			color #00bdcb
		.icon-star, &:hover .icon-star
			color #ddd !important
			&.active
				color #FBB450 !important
		&:hover
			box-shadow 1px 3px 6px rgba(0, 0, 0, 0.5)
			// .icon
			// 	color white
			// 	border-radius 50%
			// 	margin 2px
			// 	&-pen
			// 		background-color green
			// 	&-trash
			// 		background-color red
			// 	&-unlock, &-lock
			// 		background-color orange
			// 	&-posts
			// 		background-color darkcyan
			// 	&-comments
			// 		background-color cornflowerblue
			// 	&-smiley
			// 		background-color #00bdcb
			// 		&.active
			// 			background-color #000
		.icon
			font-size 20px
			text-align center
			width 25px
			line-height 34px
/* numerador */
.dataTables_info
.dataTables_paginate
	display inline-block
	vertical-align top
	width 43%
	margin-top 15px
	margin-left 25px
.dataTables_paginate
	text-align right
	span
		a
			display inline-block
			width 25px
			height 25px
			line-height 25px
			text-align center
			margin-left 5px
			margin-right 5px
			cursor pointer
			&.current
				border-radius 50%
				background-color #00bdcb
				color white
.dataTables_processing
	position absolute
	top 151px
	left 41%
	z-index 20
.previous, .next
	display none
.dataTables_filter
	display none
.xdsoft_calendar
	tr
		height 27px
.container_form
	.btn
		line-height 33px
		margin-top 30px
		margin-left 6px
.btn-comments
	background-color #6495ed
	&:hover
		background-color #4475cd
		color #fff
input
	border-color #00adbb !important