
@font-face {
  font-family: 'AvenirNextCondensed-Bold';
  src: url('AvenirNextCondensed-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextCondensed-Bold';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), url('AvenirNextCondensed-Bold.ttf')  format('truetype'), url('AvenirNextCondensed-Bold.svg#AvenirNextCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


