extends _layouts/layout_home.jade
//- index/index
block content
	section.home_section
		h1 ¡Viaja, disfruta, vive!
		h2 El dinero se recupera.
			br
			| El tiempo, no.
	section.reserves_section
		a(href="javascript:;") Reservas y tarifas
	section.welcome_section
		h3.sub_title Bienvenidos
		span Bris Hotel te ofrece una alternativa diferente. Toma unas vacaciones, 
			br
			| deja la rutina y ven con nosotros.
			br
			strong ¿Qué nos hace únicos?
			br
			| Estamos ubicados a media cuadra del centro de la ciudad,
			br
			| así podrás caminar tranquilamente.
			br
			| Nuestras amplias habitaciones están equipadas con Wifi, TV pantalla 
			br
			| plana, baños privados y más. ¡El mejor lugar para relajarte!
	section.stripe.stripe_rooms
		.container.stripe_ctn
			.hack_space
			.text_stripe
				h2 Habitaciones
				span Tenemos el mejor precio para ti.
	section.rooms_section
		.container.ctn_rooms
			article.type_room
				.txt_type_room
					h2 Simples
					a(href="javascript:;") read more
				.icon.icon-arrow_rigth
				ul.list_photos_rooms
					li
						img(src!="#{page.url.static}img/room_simple_1.jpg")
					li
						img(src!="#{page.url.static}img/room_simple_2.jpg")
					li
						img(src!="#{page.url.static}img/room_simple_3.jpg")
			article.type_room
				.txt_type_room
					h2 Dobles
					a(href="javascript:;") read more
				.icon.icon-arrow_rigth
				ul.list_photos_rooms
					li
						img(src!="#{page.url.static}img/room_doble_1.jpg")
					li
						img(src!="#{page.url.static}img/room_doble_2.jpg")
					li
						img(src!="#{page.url.static}img/room_doble_3.jpg")
			article.type_room
				.txt_type_room
					h2 Triple
					a(href="javascript:;") read more
				.icon.icon-arrow_rigth
				ul.list_photos_rooms
					li
						img(src!="#{page.url.static}img/room_triple_1.jpg")
					li
						img(src!="#{page.url.static}img/room_triple_2.jpg")
					li
						img(src!="#{page.url.static}img/room_triple_3.jpg")
			article.type_room
				.txt_type_room
					h2 Cuádruple
					a(href="javascript:;") read more
				.icon.icon-arrow_rigth
				ul.list_photos_rooms
					li
						img(src!="#{page.url.static}img/room_cuadruple_1.jpg")
					li
						img(src!="#{page.url.static}img/room_cuadruple_2.jpg")
					li
						img(src!="#{page.url.static}img/room_cuadruple_3.jpg")
			article.type_room
				.txt_type_room
					h2 Matrimonial
					a(href="javascript:;") read more
				.icon.icon-arrow_rigth
				ul.list_photos_rooms
					li
						img(src!="#{page.url.static}img/room_matrimonial_1.jpg")
					li
						img(src!="#{page.url.static}img/room_matrimonial_2.jpg")
					li
						img(src!="#{page.url.static}img/room_matrimonial_3.jpg")
			article.type_room
				.txt_type_room
					h2 King
					a(href="javascript:;") read more
				.icon.icon-arrow_rigth
				ul.list_photos_rooms
					li
						img(src!="#{page.url.static}img/room_king_1.jpg")
					li
						img(src!="#{page.url.static}img/room_king_2.jpg")
					li
						img(src!="#{page.url.static}img/room_king_3.jpg")
	section.stripe.stripe_services
		.container.stripe_ctn
			.hack_space
			.text_stripe
				h2 Servicios
				span Tú no sólo estás aquí. Tú disfrutas de tu estancia.
	section.services_section
		.container.ctn_services
			article.type_service
				.img_services
					img(src="#{page.url.static}img/service_conference_1.jpg")
				.txt_type_service
					h2 Conferencias y Reuniones
					strong ¿Necesitas un ambiente para tus reuniones?
					br
					span Nosotros te ofrecemos un amplio espacio equipado
						br
						| con una pantalla ecran y sistema de sonido.
			article.type_service
				.img_services
					img(src="#{page.url.static}img/service_restaurant_1.jpg")
				.txt_type_service
					h2 Restaurantes
					span Empieza el día saboreando un rico desayuno con
						br
						| una vista panorámica de nuestro hotel y parte de la
						br
						| ciudad.
			article.type_service
				.img_services
					img(src="#{page.url.static}img/service_pool_1.jpg")
				.txt_type_service
					h2 Piscina
					span Nasca es una ciudad muy calurosa. Vivimos bajo el
						br
						| sol “todo el año”. ¿Deseas refrescarte?
						br
						| Conoce nuestra piscina.
			article.type_service
				.img_services
					img(src="#{page.url.static}img/service_paseos_1.jpg")
				.txt_type_service
					h2 Conoce Nasca
					span Además de las líneas de Nasca, nuestra ciudad tiene
						br
						| una cultura milenaria por descubrir. Para los
						br
						| amantes de los deportes extremos hay diferentes
						br
						| alternativas como el sandboard o paseos en
						br
						| buggy en Usaca. Sopréndete con nuestra galería.
	section.stripe.stripe_galleries
		.container.stripe_ctn
			.hack_space
			.text_stripe
				h2 Galerías
				span Conoce más de Bris Hotel.
	section.galleries_section
		.container.ctn_galleries
			article.type_gallery
				img(src="#{page.url.static}img/gallery_hotel.jpg")
				.txt_type_gallery
					h2 Hotel
					a(href="javascript:;") Ver fotos
			article.type_gallery
				img(src="#{page.url.static}img/gallery_rooms.jpg")
				.txt_type_gallery
					h2 Habitaciones
					a(href="javascript:;") Ver fotos
			article.type_gallery
				img(src="#{page.url.static}img/gallery_services.jpg")
				.txt_type_gallery
					h2 Servicios
					a(href="javascript:;") Ver fotos
	section.stripe.stripe_contanct
		.container.stripe_ctn
			.hack_space
			.text_stripe
				h2 Contáctanos
				span Estamos para atenderte y brindarte toda la información que necesites.
	section.contanct_section
		.container.ctn_contanct
			.map
				img(src="#{page.url.static}img/map.jpg")
