include ../config/page.jade
include ../mixins/mixins.jade
//- include ../mixins/blade.jade

doctype html
//- +htmlIe()
html(lang="#{page.lang}")
	include ../_layouts/_renders/_head.jade
	include ../_layouts/_partials/_head_scripts.jade
	body
		include ../_layouts/_renders/_header.jade
		// -- -- -- -- -- -- -- -- -- -- fin del header -- -- -- --  -- -- -- -- --
		block content
		//- -- -- -- -- -- -- -- -- -- -- inicio del footer -- -- -- -- -- -- -- -- -- --
		//- include _footer.jade
		//- //-block alpha
		include ../_layouts/_renders/_footer.jade
		include ../_layouts/_partials/_footer_scripts.jade
		
		
