input.parsley-success
select.parsley-success
textarea.parsley-success
	color #468847
	border-bottom 2px solid #D6E9C6
input.parsley-error
select.parsley-error
textarea.parsley-error
	color #B94A48
	border-bottom 2px solid #F44336
.parsley-errors-list
	position absolute
	color #fff
	top 4px
	right 1px
	padding 5px 10px
	background-color rgba(255, 0, 0, 0.61)
	list-style-type none
	font-size 1.09em
	width 30%
	opacity 0
	border-radius 0 5px 5px 0
	transition all .3s linear 0s
.parsley-errors-list.filled
	opacity 1