
@font-face {
  font-family: 'ProximaNovaAExCn-Regular';
  src: url('ProximaNovaAExCn-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaAExCn-Regular';
  src:  url('ProximaNovaAExCn-Regular.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADf8AA8AAAAAbSgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAA34AAAABoA
AAAcWAqCGUdERUYAADLQAAAAJAAAACYCHgEER1BPUwAAM0AAAASfAAASuP/zGcBHU1VCAAAy9AAA
AEoAAABY2m/dv09TLzIAAAHMAAAAVwAAAGBriWlCY21hcAAABHgAAAIAAAACej1haulnYXNwAAAy
yAAAAAgAAAAI//8AA2dseWYAAAhsAAAmbAAAR1TjLo6uaGVhZAAAAVgAAAA0AAAANgcZ84toaGVh
AAABjAAAAB8AAAAkBmICtGhtdHgAAAIkAAACUwAAA+RRMh9FbG9jYQAABngAAAH0AAAB9C7+QRRt
YXhwAAABrAAAAB4AAAAgAUIAV25hbWUAAC7YAAACUgAABiFbLr/pcG9zdAAAMSwAAAGbAAACKC2D
8A942mNgZGBgYGRwLCzX9Irnt/nKwM38AijCcGnm9Ucw+v+c/5bM2swZQC4HAxNIFAB79g3yeNpj
YGRgYJ7x7xqQ9Pg/5/8cZm0GoAgK+AkAnYAHGgB42mNgZGBg+MkQwsDOAAJMQMzIABJzAPMZACVR
AZoAAHjaY2BiNGKcwMDKwMC0h6mLgYGhB0Iz3mUwYvQFijKwsjGDKJYGBob1AQwPfjNAQW5OcTGD
AwPvbyZmsf96DAzMMxi1FIAaQXKMj5lmAykFBiYA9DwPkwB42m2TT0iUURTFz/0sG6Oy0bEJZCxT
pnCiWVg5MzBOf0hCEKICIYKGiCiICPoHQ4QQVNYiqDahqyKK3FRMLYOohUoLXbWKJF1YgbSJgorp
954zpdYHh3O/9969775z3rN3yonPevT3GwKTytoeddgDha1XkSCjmN1QXK/UoXElQb0lmSsopiml
9VlN5HRqmFqDSlirauyK4naZvJNaYf3EVxnvVgPj64lb9IH1k0q7Gn+QVjzoVYud0BK7pRz5CRuC
8+AQGOC/SM8jxNtZcxfuUS7YBDNuT5m/VOY78GFFbKfq7BkxNYNW4lNaZGdKJduvZj2nj2EZHKa3
eouWfukmZ+ij3z6lLOs5bmc5+4SiPi4opaISKpYm7DjxmFLBNtYybhfLeazTT3iLGvSRM7u5LtUE
MS2Hl/Hfjn7rNKpqPeE8o+x/TY1l7Tv9vhfU5Pp087aVGiHVVS3VRouq0XYx5/Saof/v9LtWq/1/
CA4p4s/g9nxJTbzUfeq+Va01a43Lpd/aIA+OoE8tOU7v/yBowzvnQb7sQRnoXw02A9NI6au9oL+K
/gtRUNKz82AunAfOq9faUdb7HwT74Oys/nOB9j/wYAP8DUx73Sv6L8Q5dKnMz0e79wqmVsoO4NUX
NQR7lUCbuLv3zr/KXXF+ockqziyPGXBMIa/tde+bNI3uB7ljb9C4jzcxpYx/H4AeMiDtsZi75HBU
3cFDZat2847GWO9wujTI3V9J32G7x1twvffjxyPqdqnN+zwOvyfn0+wbnIfzqg8GmL9N/ceK/gbB
arcyAHjaY2BgYGaAYBkGRiDJwFgC5DGC+SyMEUA6iMGBgZVBCMjiZahjWMywhuE/oyGjE2MwYyJj
BWMd4ySm40x3mQ8oiChIKcgpKCmoKRgoWCm4KKxRVFJUU2JSYlPiVxJSklKSU9JW8lBKUEpVPfXj
/2+m//9BtgHNVGBYwLCUYR3QTEfGIMYEoJm1QDOPMd0AmimsIKEgo6AANtMSzUxBJDNTwGYyAs1k
/v/9/9P/R/4f/n/o/8T/Tf+L/6f/D/zv+9/qH/vf739FHxx+cODB/gf7Hux+sOnBqgcLH1jdP3r/
0L3n957cu3Pv9r0r9y7eO3pv5b1J9/pva7N/Z/0GCRNqA0Y2SJCD2UxAggVdAQMDKxs7BycXNw8v
H7+AoJCwiKiYuISklLSMrJy8gqKSsoqqmrqGppa2jq6evoGhkbGJqZm5haWVtY2tnb2Do5Ozi6ub
u4enl7ePr59/QGBQcEhoWHhEZFR0TGxcfEJiUjJDW3tn9+QZ8xYvWrJs6fKVq1etWbt+3YaNm7du
2bZj+57de/fdK0pLz3pQsbAg53lZ9qeOWe+LP3/JKH/55vXVD7k1DCt2Nabmvzvz8VVe7cOUptbp
R49du377zo2bO78ePPn02eMn33/cr7x191FLT3NvV/+EiX1Tp32bMmfu7ENnLxeev3Cx6sqlcwAD
zs9VAAAAFgAWABYAFgAWABYAMgBSAIIAxAEOAWIBdgGKAZ4BwAHWAfYCAgIWAiQCXAJsApACyALi
AwwDQgNSA54D1AP4BCYEOgROBGIEmAT2BRAFPAVeBXoFjgWgBcQF2gXmBf4GFgYmBkAGVgZ6BpgG
yAbsBx4HLgdKB1wHeAeUB6oHwAfSB+AH8AgECBIIIAhMCHgImgjGCPAJEAlGCWYJggmoCcAJ2goK
CigKQgpuCpoKsgrmCwgLKAs6C1YLbguaC64L3AvoDBYMRAxEDGAMjgzaDPwNDg1YDXoNvA3uDggO
GA5YDmQOhg6iDsQO+g8IDygPQA9UD3oPjA+qD8IP7hAkEHQQqBDIEOoRDhFCEXYRqBHIEggSJBJA
EmASkBKkErgS0BL4ExwTThN6E6YT1hQWFFYUcBSsFM4U8hUYFU4VbBWOFdAWAhY2FmwWshb4FzoX
ihfKF/wYLhhkGKoYvhjSGOoZEhlIGYAZoBnAGeQaGBpMGnQaqhrQGvYbIBtaG44bthv+HAocJBxI
HHoctBzwHS4dYB2AHZ4dwB3SHeQd+h4OHi4eSB5qHn4elB6iHrAe0h7yHxIfTB+EH7wf1B/2IAgg
NCCgILAgwCDQIQohLCFWIXohjiGkIbwhyiHgIhgiOCJmIoQiniK4ItIjQiN2I6p42q18CXhb1Zno
PVe2lNiObVmrtUtXm7XZ0tVia7MtyUss21mcxXZiYiALwRBIHPaULSwNJJAHhC0pU0oClIGyTAoN
AyG0tAOktNBhWKa0pYXyWspSChTmEcvzn3OuZElW0nnveyW6kqxz/u382zn/f8qwTOfs/ege9q+M
iJEwTLVZahZJzVJ0T+5etM6Ue3dcNHDidVH9ib8xDMMyidm/M4fY/TB2EcNEOBEvstiDYT6glItv
6mhY5VYYjQqlwfAUen9mjdFlMLiMDJkXQd9FzewhZgEjZRgZZw8FwwGlQpX/MM01ayyaaU7TbG1G
3/15fVNzc9N/0jc6H2ah2wGvlgGAPBfhJPCK8OTFS8hLwuGXA376fYenz9XhztT2tPbU9Lo6XL2u
dlempre1r7bf29bb+tRTT/mP+5+ib/7jx4Eb+ewBlBIxjImxMS6GUYXsjohSFfKJgL5IiFcoVRK7
Q2FgFXKxRCGSq0JiWdChCO8fCdptcYPW1dQVao+6zDoH57DF+UmncyfHrR8VReM8m9Now3FbfLTu
tDViZ9Qg/tjoXeFPrmlYx272u3/QnDs96D5sAMEz+tkvWD3IqIapZ5oZjmkFSVkEAcnFIg7xTeQr
j78zgXAoaLeIFXJEPnH4o/L2SCq1pTtldSKpywQfwpFUbjxpsyXtaMRktZqMNhtaO9HXPzHR3zeR
O8junxlb29d/2mn9fSieCvDpNB/IrUwFgqlUMJBiQC722S/QDUCThfEyYYYxc3aHmCNURAqk1COJ
WKJUKVXhiErcgAIRuwNGATUyuYqShm4YkjcE0h29bW4u6m+JmrSWalGTSrtIKo2qTXucVmuTuqnV
vqipU9XoMur6TluamXBPRAbGBiKurJkTi3zesCq0svmcnsFMp8PnSgy3d6LX3R3dGZsD6wfC+sXs
Ifo1p11UqfLqRMe1znYwR9lH8DhY0UYgWCE/2rZuXVv6CcWr6PVX5a++8SYeJ4Nx3xPGOYAJ0IbG
VGs63Tr5b4pfvPnGq/Jf5lx4nBR9GxkAL9HqiMQRcURUDl4SUUlUEscjbvHpyk2blKeL8x/Qt7d3
2kJBW3J6OmkLhmydGIaeuQdNoBxTC184BRfiQjxoHI8mrg1fC/9Qx/79/ttuo/R3zO5kHmImML4I
qKIjiSISvCBkKR7yWDi1la2uYuUavUJtUbiXqHXSoBohnUvvIPMNzOvMK6gRVhasN8S/8uijr8fx
35PYrgHuQuC3YNFbFQYDtuaavCUjhpn9iHmRfRTPV3EyPhS6NSRnf0Jt1A26so3IwsYwSouPDQWT
bADbTD2yB5Lw1SfiLPXw3YBm1ma4hgYuszaN3/a0WxurRTVSs1JnlVZXN9YlN2/r6t66OZHYvLW7
a9tmcev48qgvvSRgaR0dicaWjRNegFbmj+ATxNgjSEH2/B+z6713pdnI2a3/BL/bYdAaoEfBMC0o
lEREFbHIiNaKJTxak3vr5gGXpcsaNvRHepYPXvZi5x/v6vR0jLgi4Yls+qFXCB6wSwLHTmQDmsAH
KKgQfALdKAFqQPD81/ByZbutc1XYql+wQOvwLUmYI6plbb3Lebc7uryu09+y8qp0B+pBschFw/Zg
++hYeHRRzdrO1ZuxHOsB6STwVYN9rBnrg4yX8grOIRUhd/ZXPxkPhbK3PNKDvp9bmU6jwdxhzCvQ
eAbxjwUaCWWgIlKzglNQSxX/ONqviZi7Hb4hrUMRRdKfmmKJ/tV1HRHnitH4Ph0nRxvSH7Wfv2nN
5cJ6bgC+tYwVQ5XCagIUMBu8iHqUZ9khyED5y4MyZ5+/Jd3k1QYNLmVNQ9jWMTCcdXIDYYOoDo31
Xnhmh88ZyPhXjAbqW4LnbRy/PLMiue+s54B+WCMUyq+ljAuZFQeW3vELZGJH00HshxxAyyTQogLd
4gmP2AX5UN4HCYIXJUWEa6xiLKbLhxz1IoX8J9ll3U57fGVX98q43dm9bFCs0MoWc3aLXtPv4bga
iVonr1uzLL5RKR+LLl21amnHmEK5MbZsLbpCJDUE9OdGeVunOncsFnH2mVik4KLGMNF5bvZLdBp7
P6MBf12QfBIlUD3iBGctldezInCKhKyHQDy+5rC9TVoftkUHhvsPyZz9JpDPEqe1Fgtn9baehpbg
lk3jl+cewAJDvWc9N9K5D+MiNoo+BL2QM0xRKJgLwde5iMEGBbtFO41yHJDluRXFsbhj9hrmIQJH
WwJHJjiUgj8RwFVTt8IupF4FQwXgSnluO/gXfWNIzWpdBif1T3rmXvBlJ/A6elHIpliE0ETuGOrK
zSDRvfv8+2LT2wgNeuZ1GPcizTmQGdYbXsJQeKE7/F/4y+Ch6hCArCaDRACvC4X3xbZNx4hs7LN/
R2ayDqCrODRhd0PMXYhRoAQqyZygNGan2WW2Gi2+ntiQ2mJRy82YJxDcU5zf2etJ28xhSyCwPGbr
avUGdQb1O3kJ4jV/mg2yVzARBkJkNZZf3hRAcK2Ixkf8J1WEF+E4yAcEauoR+QZRxwFK0omwTsiR
5Kwd43etHj93TYfJyaLWhD3kWRVqb6ztjInqG+sMevma7NCuJWeP96Wkg6Nyh6yRW9QS7um9e+fU
C5dcPX3lDx1GyVC0u+ea8f723IcNCzQKLrkptmHLtsPrtu9q13T+Uqdt/l7PXfcQuWNpbwA7k8Dq
g29xQB4l42W1CG0Y1tysGdq5WpZM3nUXuz/XjTbk9uM1FTE4SJ0FcxaB3umIryXcChYHvtCNFDLs
EuH9P27f25Nd7QovXrdsWTi6Ctwdu3/t8KVGybrkikl00flbf5/7+SXBzGd4bbF/2QhrJiOW0wgr
o5L4wGwawXeBiN4eW7ly7ExHcpHZMDlp5mo6LXXPovZnr1S7W2beCLWpbsH8YNquAtoWMA1zlIF0
pY1uJD16xeXrJ9et3749yO7/4V13/0sa1aDamb9g3HheBObVYilg56ogLxT5+utH7r//EXZ/+vfp
z4rGLaTQ6bgbsngQGZPn4xLgQ1mBDxzM5eI3V61aNbqJo6x4WzY9PlB3BHUduVLtcs28celpmccf
zdN0QYEm/B+P/0MXZL+bhX8olDsOC/NbZKFjmRtIHk7ouiGbhS/wdwnQIoKPdZgWGqoABoTyLpde
6x7ODtf54vYxtmbm8+HBPM478jhFEgXGKeNF6I7Vu7zZ7D+v/D4yr8JYD0Gs/EmRPKqp3KRYYlkQ
18yD1P7x759S/PC7iBNhLrSIR58OXGG4PLtx2/b1bO3Ml+S1P+dCbxTxvZDQgCfIMNf99xGuP8hp
YKQVvVPIMa4HWddiH1hl8SEwtIABgecSsuBGpLx0qdm8FD/2BHy+wGTd5L4X903ih+7uy3bcNfNG
Xm82EZzSvN7IxW4UCYSxGktvyO4aXrZsOBlxe71u4Hfrw1vT/Rf3576mNPyG0NAI3gmknKcBLAJy
PtA9nAMKxLydEGjJStvrVM31Czs6PPoimta/tdKrNC3MVN+mnO69lRBHaTuX2JuCSIRoAg1yDoE+
dO7yVbHsjb2rI7YBQiJalPuc3T81vnS8gaeEItjTfIFSQKe5oAs4IIqIuydRHIdJ8Ivi+1a32x2d
Nr87kXCvSi9uNVt4s9ediLtH6xLxUIfPlQm2rwj1TbRGbbzL2hmMjUWGzqDrDWk18hN/gqWI4zb3
b4ObkfFsCNxpvLZAw4XwewON2VgX8yr5n70rs0uXZVfWrV2LPs3Vb9uG/paTTqyhcPN+iuQDIqxB
v1+9c+iM04dB1V5iI3ncbFNe12oRHYZ17cGlvb1Lpob7sl2DvcOsaGYGJn3MyvALz6sS5FsrzJOR
iSJ07orTTx/ZdfWKsbEVV2N5ohHUn8shNneE0DQ7K+jpAsIrnfTu4L5lZ08t3Ye06MrcK4jPXUnp
B5kjnuo05J4koRHx8PMnP/oRqn36+RSrTHfO/G86lptNMQdhnSQ4p8Y+RsofvOqqbPaoaD0/w9Ix
CPLul4S8W8TLbrs1dCvk3TMJsgeB+bfm54d4WAX+1qsHB68+CntPHu9l0BCxWRxDCb9gtJE1ayIX
B+EHWe5jNEz5m5k9hDSzb2Ec1Tgaa3LvIf0anuBnWA9zC/sM/k3GOfhbfOszrGcvzSdw7tmPPgV7
0JJ8dS71gR00LwJnHsLuEHaq/ZkGvjnVnerWBuozN6ncCxa4VUPd1pZd26dvdDrSueE20+/M/ueP
UbjtJO/eT/OUiAHhtBtntNgcFEUh17FjoUs1NKRyLcxk6gPaFPyvmW+4ytx67Hm/Ofdddv83DueN
09t3tVipLDG9DqBXVtjrUGsQQvML2ZGRbMyp01n8ra1+Tquz1t307h5PkNty8Dwu6CniGWj7f+AZ
E1vg+ZuZ29tM75oKPGO4K4C2JshkhCwXQOoRh9kH4kRCGvHK8pVDg0P9H6JQoNXsbKuxe43Ourob
p8/fc+NW9dLTYrYlSNNzZrTXCfyqAPLbdB9EbJQv8gB6BPp2Y09ra9BtVEgl9U3K7m70QHxpKFEf
luial8YJTXGyvs10H0A8SXGCizmWkn1Anuknlvh1ruAoYbw7hRlfHhc4fyHQ7t2+1uq+bvv0t/GS
10ys+MZvfsvkP/osXpt2eKRArk0kfpQvN0plfBpfXSbTGDe1utH2pM+c+w67/4TFx4eFPSiJi98G
u1tETk+EfE8GMMZlOp1MrtPVZzKsS2fXwb+ZN9B7ZN7su7NxYZ6yeJ6oOIbmAYw4ZdqFMnOmrQCm
yeiXdbEQy1MxgYfxvH9x5GOqBI1n17RnMrcNXPrrycsgpCVQ7VtEH0HPmdeIvy/4SKqJezwtmXqp
vE6preNDbOfMcV0zBFNGkBMrgTUxlsipTF4q/FSwkoyvGYRWkJzDJ2pMmMfQdGerKfed/Nt7GXOr
22Fp28wU1gHgSyusQ8kyjMN8vAow3+LbXNDhUZgrwRxVYVliUYLxWhRo0YFs9kD2LwcP1u195+ab
3xl5/tgxwdb70Zq8D8H7KEWxkTsEy1cY0JtYm4hJpVIjxOgXuuvAjtj9gk0lnj/Wan7X3Ja3p36i
u9SHzGmoqlh3sfk+DZCwN4qDpWL3gV2J3296F3uRBPUe3TMbwJMwefkwH6OPcewheWGYV2BzkuzI
ZOzZOone34jeG1rdy/o4Ol4BMtECHVxJLK4qjcVVwOqdK31mR9jQonW2ObV9HT0+kyGo58i3bF2i
NegwN7u0HBe1BTNhn8eqUTu1nDVh6+gv4GF+x27Ctk50SThLAmkKOnXA2+L393R3L8rrFcrGr7km
nnuuSLdw3gCG0VTk2WjgDkcgMUtlpB2WVjdVgZTFw4fRdbndSa8JbWDy5zKwAX6vKHa/mN2+eOny
xei93FZ0MxkDmsGCiObH7gf6li3v29zfP9S7ZHE/ujZ3GUz6FtqJX3gejEcdME+wLS7i4GGXJUEd
i4eGF5+7aXF/f/+mo0e/+PTIkU8JHh58F+ZFNyf3vOuaYwls+4nlXr0jbHcDa20uytoAdlWxjrVm
TyCMrsjd1ukzwd6zZsUEhmuBRx3AJTkrju88ju91H95xxwe33x1GW+PB3B48Tgyx+QjEZhOOzRZ7
AoH/DmEaguEYUhAHLJeAf5crY+iIwRHVNjdrow6DoanZ621uMhyN+j42OH1Ow0e+GG9Qf9Yjk/X8
TWUQcm3ICbblz+Kk/Daex0dxNB94QcAZIgwHIwSzG4VIMAFVUBDMYk6ax1TAfZQ3qP6G8XymNvAx
30cE/ce+KMWpRQ+g88BXQeaLVPVVnMXHkkOmZBUfMLCADMWCrLheaYcNdq2iSaNYGGLFDXNf2f3V
tmC/xxTvj4+cJ7aGe72m+OL4CEPPN/qZ+8GmSG1BBdtSVvDCnKWvvqNhHWzPcXXhR+j9nI5d6zLC
jlyw8QPIwYZA53HMBAMvOrKX4p0kObGXin/Q3dfXHbYZwIkrmnSalou6u9eP19z4i121/QMLTEHV
gtx1C9RB84I1aNXdJjRtJuelYAtbIHaGICqEeHykGc6fgWGLZVVgWiQzx3/GBkZ0i54IhoIOQ7qx
QTqaCS5eFFcFjW21teqqwVi1TSdvUsWkbpV2UYee65SZWsG+61BDwGhOc8Pnx0P64d6ojtcGFgSa
1fYRdY3REmtqbrFGtKu9BktJLqrENkZOjOFFU1Jhk/ru4OWXXz51Nc5Orz77W9/61mWBLX60hOSo
j/u3BPA+o6A/QuYZoloEeoTiWRTHslXMPoq0wL8Ln7phVSUpV8lmQigEzO0oJEFy+q8KI21//0DH
Ut7sDBmdtnDY5nGu6Ass9pttPi2Hvyfb0yZHELmXcu1Lw9mEL+QxGP1WR5fbnlyYWBbsjri8Np3e
Z21JhePuuoSR12qBpia2jfk7ez3YHmRwTfL8cZW48OnvmiapRiNtmhbe2XOtzc1WjYY86ZmGZ/ZL
9rfsA8B5A4NPxhvFJti5m5oa7SZxo9LkUInz2Q3dy9NjnDD725dzf3j5ZWR4+EjuxJEjqErS3DG6
+tJLRscjzbIU17dxU6+1C72Te//4caQ7nrOhqiN44DF16rLxtZd2qzXGDcuGzjLR2KRFSeZDyDmU
eLcALmQOJT1Thk8KSSASEmo7H4ZUXkdrq8OrCtkMSmdscrOtocGm0mhQr7mlva213R7sttrcWw/b
43aH3mAnOAxMJ+S6B2G/Dh7TxjkifAPCTwlyRMfHo+Na8uw8/Pjjh+GVP8OjZ3OwxwcXFTKH0AQP
u6EXv/iJH36vghg2g46DTmD5m3G1DByJkDFJaElKGQhLOAeuZQhJeoQcDmH3cHzHYzt2jI5dppu6
e+qcO89Z5ez0mM40eb1SvVaaTjfq0GujO2DIZWNDU1NDg+ec45uc/LzFzNn6ZdpxDSPsRZYwX7M7
6F4kxH/99dfsEi/wqkY/RAtI/ayJ0JQ/xhRjooAmtKAv4O/t9Qf6vN6k251kPf7envV9fcuS+Dsj
nEt6hVpMQ2k1RkrOJ2lFhpxQ0qpMjsgEAe5DzGeiGD6VAJoKtYb84TT/2a/OiBhUXo3V2dMWi6y6
CR1yXbXGrjXzpu6ONte6CzEMObqH+RxgQJYtK1jZvErD3Hn357FQ1mrXeqJWjaK6WqY1h91qu7Wv
LWrV6VxsU7ArZQoutpuRD1lM6VZ9VzhkDkrE4Xn7OYiit6z3LWGf2btXiP/9JGbKqFcoREmaCzgg
xaHZH8TKBfU/gkx2d5fPjDbk9JAMsDhGgD++iO7Lq+k5Fl6IGEIXucfdfRs29D22nn19xoMe2HDT
BowvwTzPHEJOHEupNePy3SHi7V2oxoUPsIXaU4o5BCujKs6hsEhAnQWpDLVYpQa9TKevrzca3dpF
jSpj4CikT2qZpV66Il1j1XMewmMDrNd9ohDOUWS0dnRfe9x0ph8dQv2d5o1EF4woiRDZE0iL9wQ0
GVXI90ai0Uh7R0d7NNqBkut2rzvtptO8F1900cXz7C5C8xTyfGIcW9wvyfPzw9TuwKZA29g2cp5X
D9jUDLMQcUhG9S8C6seFJA5KJ/rX3CctqOkea2TPlRnrmon/IHSz+2c2wOv4xo2+EyeeeeYiyoWI
wF1M4KrxXoFCraCfthLgT5Vpa268GMmGUtX9DcVVhXWfXcHeK/AQrsjD/0Sv0e9KOfz+KfW8lPH3
T6r14B9mY0gG+UUz8be4KMDmj+PpkT1EdwfZq8BaP6ElFQKbgVQIrG6rrA5nHEbksgRIfcASIvUB
75K2tMWo+i0pD9DYQs6uRGfBp1pcy8PnJbK5k/Y/+9ZnXp47bGff2nvizuIT93nzEehN0XykBFu9
ZQ6A6Ky9ZRCKYYjJWoAnw7lyMRlI64pHW7rTNxeTsnlzKag8nDMgt9LjfFJG8j0Fh00Bp3v4cLsI
6G9l6prGWovDZqUfnPYzi8C/YeAMY/EB/IxlZ1xFeKoEPG0kpmgZnNdViOvF5DvLYvz7RRJRFoX7
E69WwDNObLoZ7wrm7NqOz1YhUBRheYpra+MsbW0hss3/TREvh9t62+CflRwAzNQV4aD121ly5kl3
UBiaOV9hwEXc2a8ubx16G6kfPnTo4a/OwXNxteEuunq4ntBL6iLueX5OqHeWlEkakGA5rxf5PuXg
4tLaiWmikTjDp/POMFb/o/91YK6Ycl1ti+Ac6flzhOhfQ1575yokn4H63iYUSbDqCpWSefOo1hZV
VvSgthN0IlVZYebcPDGJ23lNLZpqoao6nkdL1DSPWCTMp7pjPJnmFIHzlanOYwJVpWqTh8/iGMHc
SfiSzMnjTpBDVzYryIDwH4TnzwrjBP5/BmxLstk8y3gcRDLmZcJvDYGX5/dlymY1hiqwiG159kt8
fifwp6qc8eLpb5exNQpYy1kidOJa+20kPqvyJ4JCfUEE4iGlMwX/2hWJBK6e9YwEt28PjiBfOwrh
Ghry/QVX0f4mrNsFxDfg8FzRM+SrOcxsuWewLaP1nXKvUFLvEdF6j6BTaqIdfFPFqk8trMdYWeUH
L87u+dWfSnBhDSrD7YD1M5XBJYtZCfAcXKzL2oI2VwadpOutn0c1XvxT0o1lTjPvClJnKyJD8xag
sRxv6UoYKhBQJeDP25qzsrVVZjdbpp/byqVaoqwvVOIfMa3MMZQF3cC7GQdtt8K9Vsg5NcWdcw4H
z6mpY+RJ/xVkBv5UAf6enmDDmsyV6CWkhU0kV8mATBkm1yFSvh1tWRQ0u81LEzFnPW/xmJd+p+YO
dcvkZMBXc6e6zmNaOn7f+n2TXsuysYPwjsZWxtG5HTNv3H3ZynjulnbqD3Hti+iYjGqurKwChhaB
0mqFMhhR1rJSWDkMoFtUDiMKCqoXYFDFnF9Pm4MjxicGglbOA9VJFdJUoIgoYhk4kQCL6gB3En9b
DnqwbPFDeYpLF72cf3rOQfivK8QUoVyHA4pYKL9R91pShJur8dYJlQ9IQYmXI2XekFDnzSZLCr2X
bFu1cmumN57oz/0X1rcU8HoY9pStoG/lJx9CU4dYgU/ehTYT3NwmQocXR7JBY4tX08IFeM5oNbot
Vm9meTo5YrQZrXzQekFoMOEPO02GVs6ebDHweo9a72zzz/wXK+kZ6wtZIganQuexONL5Hsx+sleT
Y09LI9DJK05fgFJ9r1KhjfXsnclUrLbNw0ElfYqqlhmEf3ZFJLCLPAmWYjxiiD2Womh/ClQOqpUb
K7MEKloZXR7Xk7D6dsZ/stz15Ij/PM9jRiuS4Cpxm29UoqVKoIWeWVmxNlXOUk4hhkCZBT1bkZji
k66ZS05Fy2vk7MuEs8ymQo0mnwGfnI73M35/pm2jU6t1an9YkQS3P+Nv663T4iEzt59c39gAqYf4
cC1lXgVVIZQ9FULdEyxPMkeELSj0IJZWVzW9/akP2SCuiLp6VuryFKGr7F6lpWnhHCmZpTduVS8Y
Go21DI7rBap+03Om3h/U1eRrxBlSIz5FDl5UMi7k4M8X5+DdvaV1ZKNfSnLwZ/I5eKL2hk3nFyrL
9mp3/nyC6u4KsBNcBzacshKM3UHFavAu8AOVKsLIsJf5v8UBRloRx5PgBiri+AE5SyrFYf5HfGBX
UBHN09QFVOYGPABDchOK63qCywp6dSpslZLoiqh/WmZ2FWlYV3a+zM5+A889xJ8W7Rn2wIokMhni
h0nhmSUZ1NOFccKe4WmQajWMI64UD2Rnv4Jxx4jfLN0zHKOSQRgqcYUErmj2T/D8ueBvTrFn+HkZ
d6sBTqkLEejEsh1nH4c9Mz4FcETI9QjIvIQWDGoSdgcbaMQB8cKmM1R1yUZZj7QnPbBkONvT06Gp
N5x9cLnHziK72yczaFogEn7vwUtu2T119u5EMpurQtunlgh9H6QH4EnYoTsqVZ8dFfx4SUV6zTzH
XVKjPljsr/M6OgqyxfVqaXnFGq/dXNX6WmxThco1iu79x/NhpebmP4HtZW7+y2AlpfPlFfDjtZ4D
8ZRgC0VUEAvIw3mSwOHmwakktQLQS+eJrAh+e4nAqgQ81xM8KmzVpZgq6docpnn2NIfnshIrEjF6
5jY0xtaQXo4SHVaZQ+Y52H9qluH7HbIbci+g+FbhC/orhqR5zX8neS/4olHS90N8Ec/lK1d0D0Cy
uwDJ/h10M7DGa7Bnh3lbHXkPcaPLF1wt8y64WsEtj6Uu2HIzp4r1bN2yl9M8H2+ZZezPJ1rIpYN8
71KK+D1lxSq6A6tVSSV9GahWaTV98d7/ISysYiWwbKBmpbDeJv64GFbzyegi6lYCzkhVrow6we+K
BJjY7+ow+xWg2iupRAkKaZlalOK6ody/0ro+8Zum/L7oFNV9pAOBOCqU+LGLPXHlSev8Ql8K7CHw
jSycCShos8e8rpROXSZjjBf3pGS/Eo18ubi0I0Uk0E39ctvJ9k6n4qS1TFCuSlwVu/ATPzwpe0If
yw7w8UIf8Y4MCSD0PkaG9iRFQhh1RCEhrYmKSDaReOTrr1NGlMp9yKW4WSaNVIXekw9gjgLXyoU5
RQfsCaRoz7S304amFk8LErcbUTL3Z1O76QPSfMKHXsr3+LIOctfDTLQJJpPzBFwY5efOUcFApfgM
lHV8ZUpHBwyGgWja9BU5U1V3Tk4afKnhyX0v3jY5mMIHeeehyMW5j3J/6SrkPmwn6Wkz4yhj4wp0
Ogpehiyzg6cZgwQ8mzzAdn4YJsnB0ITNOjKczQ6PcKaVkDPcT5KFzMGDvyaJwZYt4NampnZv1fWc
GevJHDv2Y+CL9OOSPbiT5gT4fsApG3P/kM60JDpcV520P5d9a+/mzSd2n6pLl6W9R2ArHLnZeMru
IxGl6lRNSIsoTafsRWLbgSySh9D9Oz0r0J30bFbY0Zfr9mh+d196jFnaa8vSXlsi18aCXGXmfNPt
K5Rea771lorszkIHLkt7eUA+C/H8uW4eQRb5pp4VFI7Q24P+ijlEjHJ2HboQdFVO7sPBxAjRUyzT
BtxaeebQWl+8vabX61YaauSeRcHxs+5F9yZPtMWa2+vbP0rma7Evkdwun9m9RB0uSekYZv4YTNf1
lB5IJomoyZgg8wm7G9dRZWJYZpLyfuK53WOr86nbtez58bhOrnKTsQvYLmaSvZPUXAt3THtJrGS7
IIZqNE0yLBuGdTOHYK9YVgPN10pGSgokwtavzUr2fpSm2V7mRohb9QxjFG7GkDuXfGCTtYk32QeN
3TrNdmnIYct2KD1dLZQPF/Me2bdX3LPfNS9XKd2CM5RuD/On4ryah9f0kL39sWF7O/b6Qq0bVxwG
0BdFdy5IDzvietf12lG7Az2ZG0BPJpPC3Un0A3p30oa7AX6QOx/txdcn6W/sGXO/sWfMPMNmhN+i
6Djzz6AjgEsWDOMWIQlPOhuJCUSF21WsGN/aVKotrKz82ia+94leZh4S7pkWXdMKFd/7zF/QYte6
ljSTe1k6ucLg+P9wb5TFPKBewoN1jotIuNCDHSn+UxFfoupqAejdHo5rxkhE89kE7+MwlyFlMc8Q
gzDPHOnnKONaMu8vKINx2li2RqYFFOa7y+XiHi6Si6VUSvhe3E6UITLiKklJ9Q/lhvEBi1XVwKJB
oTaXyrGMQcSoUB/YK+5ogB2ViotIQuTq8CdjVd6qMfJg5VWvvVbVIpqaEpE+7sNkPBimTOFQRBTC
pBCd+MkYnUTf2ERL1Zt0av4D1oMBZhcyoLXYKhjatRNAhuRoMjmKDKOJxGgSNDgx+3d2itwFluIa
RrjgqauEGVWFvxwSevIQMuLqOGKNSnL3sJN05xmKnoBRP/uFyF1yvz3G9OU7dYgLiuCGAYxEWM9C
NxHKX3CHyGWTF+lA0d9RPb7untrS/UjuYyeS7k4J99+ftSXt9qQN1ZPr70aTFaVTkXAK/xbK/4ll
+ibItfgR0k1wom8tuRaPzORKfCqVe4leiU8FhF/6he/U9juZJ0ivBxMhvVVPFJqqmPLfi3pAcPcH
6eU7AM836V0uGQjgTdL9QPsayPxGiN/T7P04a4DoDTEGO1F4o5EGn4hJINKAFEgzIq0Kf7BXAxkW
avHUrRigdeChhosuRejSi6WD9C7d//E3GE2N/ulrcQ34sL/RZGzwP0mv1eH/vwX0HBohZ+dyfEob
knAO3M2Ft0pCUxQa0UUWRHRuj8f9K5fOdT567kn43zvf+Y7mxz/W0Hst8LgS6AYd4gnRhW4TBWlB
abRI5UqVwrtkbPXq0dV+55Jr1I5jTnX6tCMHHnvswMReVzot2z2F5LmPpvY0pefuR4yyD4IGKci+
M3/wEMGA6eED3mviAwd9Kn7xX/CRQx05Y7h+Uv/8l+ctJ8cM9B7kTiJzMb6hQ3sKduauuWV1dMNG
fJ0N5XK4Uts0ez+6k/byVxfHhzMGr8mG0HXhcfaJmWH2CXLXyQVjbXSsFuE2zJBMBJnExdMXPPrN
9PQ37Gju33NH072oE3nJeD0Kowm0Ca87Ktx+RWFy7xXX9p6jd43wvTxHBPdGmyN95y880H29HyXV
bebcq+wKhu6TH0Y/Rp+TiiO+/VqUvtL7MWJyrQ1f0eboPWS5clcoEgmlOVsKv1tCjdzVJo4zebXa
vR693mO0cg+ffs0Z55xz+nWT8dYpf+fGrult26a7NnbS+0YHmLexstL7RpBLSvPdzArYorTi7mXa
wxxdzxtU7K2+GG9UzZxLe4hxj91Pge83mQZcaYiQFiAgl/TPQ/pd9l3Pec2rnW6b1WNZ5XTZrR7y
jfPib6+HZOaGYJP5l/BqgM+kd3ECTbBJTFuEw0ZCXjxWOfza0uIfOzf+/Wf9LnhPPHR04iL/Lf4L
L4RHoffvBD1jE24vF11LnkEi/C7cYn7UX9QvKMwRbihL83PILWW6qPSmcu5nGA+u5K0ndyjJrVIR
KJ8I1O9ninvuUdzz4DXXXoOG0VDuX3K/RjZkzeE6uBj0wcVuZbcK53lmxs2MYNlxgn+U0koU+EEV
H+KqSbcl+Tv2oHrwE+Em7FYTiFNQHx5DIY6e2sCvIXp6Qzo03xswut1Jt8tocnuM5+3ahdJu44Ab
t0u64Rdb99rUrtTa7m7fwGJfCj4IXwZ8d2c9RpPHg+KDJre7y/PIrq+Nniz+w7eNHrdp0JP7YG0q
5ctmi2YNDvq6MTysw7CDRGeTO0pG7Dcq31OKlNznKbu19Ojc9Z6SC0w7i676sIwK/MfjBM9JschK
7uCUYflD4UpOCZLcUPEFnf8GEiCq/3jatZPNTttAFIWPfyCNAghYUdrFLINEHBMJWmXVKM2uQVGQ
WNCVFQ/BIvZEtvPDgkfopg9RdVWpmz5MH6Av0BfoneEmCpSkVFU9kuezZ+bec2buAHhpncPC3fMK
Q2YLe/jObKNgOcwOXlu3zC7K9jPmNWzabeZ17NkfmAuoODZzEZvOO+YSXjgfmTeIfzBvQ7hvmXdQ
cEfMu3jufqXsllukr8Qo0WzBx2dmG1v4yexgaJWYXXSsb8xr2LePmNfh2++ZC7iwPzEXse/4zCWc
OBfMG8RfmLfxxrWZd7DlSuZd1NxbNKFoJ2+QIkIfV8ghUEYPB9S3EdD/a6IzGo1pZoLMvA/pX438
+DiGR9zAgJpYiJKZL0m9pH5M75BmoqmGN2nUv8pFuXcg2kF6Lc6iWCWZSg5FzfePPdEYDISZkolU
ZjIdy5AWdiiKwtToCCj2KX2NDencWnWLRpukTaBLGtBJ1TSKA3GqxgHFzEVr2kxEl0a6JKaPES3T
9tCV/dEgIJjZfWi2TiGXp9dpcxrV3DTzQ4qfGOOhEbOYrb6wcdD2Z+7r4p7g1jRPA9FUSSiTTIaC
RdbNHj11N54u67HdelQAcG4ONKPUymx2jY5V+zmiIZlmkUpEzfP9o4ciZxIb84OqLBGhNTT0aVXm
SZf7jUylabpzq13G87pVuFxZx94D51EmAkHGQxnr0lSX90vUw4pYuDcV5hbkdLfqqFKbmObNtWW/
KelRH9OyPB/Wq9XJZOJpDdksdU/F/yfmv9bSH2tn+Y37u0stV1xr2ccvklAvTwAAeNptzHWUDwYA
wPHP78Jh0zXdHTvNTJxz8hw7TnefuJvjNqbjsNTdrPB0x9PT3c2Y2LAS7/kLz98+733//QryzusU
Wb3Pq7cFBAWCAsGChQiVSpjU0kjrAx9KJ70MMsoksyxvH9lkl8NHcsoltzzyyie/AgoqpLAiiiqm
uBJKKqW0Msoq52Phyqugokoqq6Kqaqr7RA2fqqmW2uqIUFekeqLU10BDjTTWRLSmYjTT3GditdBS
nFZaa6OtdtrroKNOOuuiayDEcuOlmOWRCX7wrYVW+NE3rhlnuv89873ZJjnglv8sstILz720zGpH
HbZGN91N0cNxPR1xzGknnHTKn3o574yz1urtX1NdcsFFfTz21Nf6itfPAP0lWCLRQJ9LMkiywb7w
pb8M8ZWhhhlhuG2WGmWk0cZ44m87XHbXPeus94f7dnrgoZ9d8bvrbrjpjqtum2+DjbbY6qBNNvvN
WPtNtMohu+2xKxDqO4vN8at55vrHT6ZZ4BeTzTDTdufstS84Ji46KDI2LDkhPjw8IjwkKjkp8Q3o
ln02AAAAAAH//wACeNpjYGRgYOADYjkGEGACQmaGbwyMDN8ZfgDZLGAxBgAt3AMjeNpjYGRgYOBi
kGPQYWDMSSzJY+BgYAGKMPz/zwCSYczJTE8EijFAeEA5FjDNAcRSYJqJgY2Bh+EHkA5k+A4k/YCi
jAzeAJ61COEAAHjatVhfaJtVFP8l2ZrYdc3StevWtGm7zWrdQIQpbJMhKv4ZDKQKiuxBwfmi+CA+
qG/O6fR1CBu+KCiiiCB7UBBhBEtHNiiO0jEsoTO0lNaSUgIhJYXr7557vy9fvjT/mvQeznfPuX/O
d+75d/MFAQCdSOA4Au+++cF7iGAXR6AU9EzgnQvv6zEYjnNB9kHu+J7cJVn7AAZxBucJH5MyEMFF
tYlPiZeInxE/J14mfkFcIYZxVC3ipErjtCrgSZXDGdLfEFNEPTvH2VnOZjmb5+wMZ2c4O8P3X7RS
A3z7E3gO5zCBK7iKa/ga3yIYG9Ga7f0weoLneoinSas5tamWVEEVVZbUJvu0yvC5iW02taHy3L+K
lpvacKkccV2tu3ye3EaT0tb1PocqyeVTdOXZV1XOrGhJ60l5Lqqk6ZvUrYA2NLXsUhm1rO45NPGe
1zOcW6OmazUkfaducUVa3Vaz6k9afZX9z+qquik6Z3xnEGzM9+UxQrk/SP+f+k1bgvxig2fNl6Q5
MeGlzWwpnmp72Ky0MVasPltPTvkKNV2ylZpWKXolx6y7Lfw8LZpW95nd2jt3dN+Ur5ca1afK/qxH
z6xKmShU/1gb5KQ2FMx76kcnI6rooWfFM0Vzdp3BlFeUbM462bd1NlhqijsWXDpJm2UJ08IvqEna
bUnspi2YrueFNuTVnLyLFmO1bY/EZamWGex4o4V+bWL1XYnULPWbqlaVPWO5OtJWTGTQ+/NtOs0d
c6aW5eR1nWHeFajf3ztq/42mt4wiKs9B9BKdFnFquW2HcMgju9PtIzjm0yAjUVCgF9JtO1WOGTpZ
615rQtZ9qRVLZVW22Fg+V945rLIp5mpSfo/oGvG78QHrbb56FfXcR9fbFatuO1U7ErSGcmP/slXd
qWG3NamyWd9o0qUKjXvA5qlbdevndgMSi6XfIy1IWmx39NpbacFfJ524a+7msNL8cTTf/D3U7jz1
epC+yJdVv+J2s7V+BrYk7cY29qx7akiu8dtph9vj/BoLYw7Dlu8hpSvzfuIQ4kTg4bId4zJygOBt
AX7fhdjvwm7hu9BBubqFWOtD/OLrxB6O7kU3v+2i2Oer/73o47Of98UAYjKi75QYoZcwgBHeNIdx
BEfxIB7BGCnv/r6Gzhr38QkfH6zYERJ0QNNdFqLCe1v/Floc9PG9LjVGeox92O7VN6O2SjXN4/TL
ML1hnqYN0eodyHGky44cEGpUvvujlKpvaG0zpx2h9czOIc+Ztc9DItnp91vO8Br1t3mcvu2g3mF7
0lEro1vufQ0xc//LybR9E+QNDjICDvKU+8TDibL9W7WuipH+ipGeMgi5Onuh3HtxC+EKWd1Wc2+L
VOUHLA7b+B4RT1aLwn6CiRnz3MMsOCy+KT9tT1Vr6DwI8i1h0VzvD3B/lD6J0Ve7+eY+ajEoVk5w
XSc9MM5Vx3CcKx7FY1x1Ak8xPp7HC4yCszjHSHiJMI4JvMGMeptwEh8RTuETXMZpfEl4GlcIz+Ar
XMOz8i/Ni/gRP3HfdcIE/iC8jBtI4hX8RXgVU7iJ15DCLbyOu0jjPP4lvIUVwoX/AQqOjesAeNpj
YGBgZACCY6nbT4HoE5dS1WE0AE+yBvoAAA==) format('woff'), url('ProximaNovaAExCn-Regular.ttf')  format('truetype'), url('ProximaNovaAExCn-Regular.svg#ProximaNovaAExCn-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


