
@font-face {
  font-family: 'AvenirNext-Bold';
  src: url('AvenirNext-Bold.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext-Bold';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,) format('woff'), url('AvenirNext-Bold.ttf')  format('truetype'), url('AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}


