//- PAGE URL ELEMENTS
//- falta configuracion para s3 en la url de modelos y blog
//- del home (index.jade) por el momento se coloca el slash manualmente
- var date = new Date()
- var dateNow = Date.now()
- var page              = {}

- page.url              = {}
- page.url.base         = '.'
- page.url.static       = '/static/'
- page.url.elements     = ''
- page.url.image        = page.url.static + 'img/'
- page.url.staticHost   = page.url.base + '/'
- page.url.vendors      = page.url.static + 'js/vendors/'

- page.title            = 'Agua Nasqua'
- page.charset          = 'utf-8'
- page.lang             = 'es'
- page.description      = 'Agua Nasqua, Agua de mesa Nasqua es elaborada con los más altos estándares de pureza, calidad y sabor. ¡Nasqua embajador de nuestra cultura!'
- page.keywords         = 'agua, agua nasqua, nasqua agua, rica agua, aguita, peru'
- page.author           = 'aguanasqua.com'
- page.name             = "Nasqua"

- page.viewport         = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
- page.robots           = 'index,follow'
- page.version          = '?6a2'+ dateNow
- page.img              = page.url.static + 'img/logo_skeletlon.png' + page.version
- page.favicon          = page.url.static + 'img/favicon_nas.ico' + page.version

- page.og               = {}
- page.og.type          = 'website'
- page.og.image_width   = '90'
- page.og.image_height  = '60'
- page.og.image_type    = 'image/jpg'
- page.og.image         = page.url.static + 'img/logo_skeletlon.png' + page.version
//- page.og.url           = "/<?php echo rtrim(str_replace('http://', '', $this->serverUrl(true)), '/'); ?>"

- page.dc               = {}
- page.dc.contributor   = 'skeletlon.com'
- page.dc.creator       = 'skeletlon'
- page.dc.publisher     = 'Nasqua'

- page.geo              = {}
- page.geo.placename    = 'xxxxxxxx'
- page.geo.position     = '-12.0478;-77.0622'
- page.geo.region       = 'PE-LIM'
- page.geo.ICBM         = '-12.0478, -77.0622'

- page.code_tracking    = ""

//- page.google_recaptcha_sitekey = "6LfmFQoTAAAAAPs-6VD3oy4DTCt9y-YRnsplvS14"

//- var layout = {}
