@font-face {
	font-family: "icons";
	src: url('fonts/icons/icons.eot');
	src: url('fonts/icons/icons.eot?#iefix') format('eot'),
		url('fonts/icons/icons.woff') format('woff'),
		url('fonts/icons/icons.ttf') format('truetype'),
		url('fonts/icons/icons.svg#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrow_down:before {
	content: "\E001";
}

.icon-arrow_left:before {
	content: "\E002";
}

.icon-arrow_rigth:before {
	content: "\E003";
}

.icon-arrow_up:before {
	content: "\E004";
}

.icon-check:before {
	content: "\E005";
}

.icon-clock:before {
	content: "\E006";
}

.icon-clock_1:before {
	content: "\E007";
}

.icon-close:before {
	content: "\E008";
}

.icon-facebook:before {
	content: "\E009";
}

.icon-instagram:before {
	content: "\E00A";
}

.icon-laundry:before {
	content: "\E00B";
}

.icon-menu:before {
	content: "\E00C";
}

.icon-message:before {
	content: "\E00D";
}

.icon-pendiente:before {
	content: "\E00E";
}

.icon-phone:before {
	content: "\E00F";
}

.icon-placeholder:before {
	content: "\E010";
}

.icon-rest:before {
	content: "\E011";
}

.icon-room-service:before {
	content: "\E012";
}

.icon-search:before {
	content: "\E013";
}

.icon-sign:before {
	content: "\E014";
}

.icon-steam:before {
	content: "\E015";
}

.icon-technology:before {
	content: "\E016";
}

.icon-television-screen:before {
	content: "\E017";
}

.icon-time:before {
	content: "\E018";
}

.icon-toilet:before {
	content: "\E019";
}

.icon-tool:before {
	content: "\E01A";
}

.icon-twitter:before {
	content: "\E01B";
}

.icon-wall-clock:before {
	content: "\E01C";
}

.icon-youtube:before {
	content: "\E01D";
}
