/**
* Reset
* @module reset
*/

*
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box
	
article,
aside,
footer,
header,
nav,
section
	display block
html
	height 100%
	font-size 100%
	/*letter-spacing -0.5px*/
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%
	padding 0
	margin 0
p
blockquote
fieldset
	margin 0
	padding 0
fieldset
	border none
a
	color $gray-99
	text-decoration none
a:hover,
a:active
	outline 0
ul 
	margin 0
	list-style none
	padding 0
	line-height normal
figure
	margin 0
	padding 0
form
	margin 0
	padding 0
table
	border-collapse collapse
	border-spacing 0
	width 100%
input[type="radio"],
input[type="checkbox"]
	margin 0
	padding 0
::-webkit-input-placeholder
	color $gray
::-moz-placeholder
	color $gray
:-ms-input-placeholder
	color $gray
input:-moz-placeholder
	color $gray
input:focus
	outline 0
h1
h2
h3
h4
h5
h6
	font-weight normal
	line-height normal
	margin 0
em
	font-style normal