footer
	position relative
	background #211b1a
	.footer_section
		padding 0
		.ctn_footer
			padding-top 25px
		.row_footer
			display inline-block
			vertical-align top
			text-align left
			width 30%
			h3
				color #ffb600
				font-size 16px
				margin-top 15px
				margin-bottom 2px
				&.icon
					&::before
						padding-right 4px
						vertical-align middle
			span
				color white
				font-size 14px
				margin-left 22px
			.map_list
				width 215px
				li
					vertical-align top
					display inline-block
					width 100px
					margin-bottom 15px
					a
						color white
						font-size 14px
						margin-left 10px
						&:first-child
							margin-left 0
						&.icon
							&::before
								color #ffb600
								vertical-align middle
			.links_wbs
				width 215px
				li
					display inline-block
					padding-left 5px
					margin-bottom 5px
					a
						display block
						width 100px
						img
							width 100%
			.cards
				width 225px
				img
					width 100%
			form
				input
					height 30px
					width 215px
					border-radius 4px
					color #ccc
					border 0
					padding-left 15px
	.footer_social_network
		margin-top 25px
		a
			color #ffb600
			display inline-block
			margin 0 25px
	.footer_copyright
		height 80px
		width 100%
		background-color #ffb600
		margin-top 35px
		span
			color #1e1513
			line-height 5
