header
	width 100%
	padding 0 25px
	position fixed
	z-index 10
	h1
	nav
	.box_phone
	.box_social_media
		display inline-block
		vertical-align middle
	h1
		font-size 0
		a
			height 250px
			background-color rgba(69, 52, 47, .86)
			display inline-block
			width 250px
			text-align center
			padding-bottom 40px
			.hack_space
				vertical-align bottom
			img
				width 89%
				vertical-align bottom
	nav
		margin-top 50px
		.icon-menu
			display none
		ul
			li
				display inline-block
				margin 0 15px
			a
				color white
				font-size 22px
	.box_phone
		margin-left 55px
		margin-top 50px
		.icon
		.ctn_txt_phone
			display inline-block
			vertical-align middle
			color #ffb600
			margin 0 4px
		.namber_phone
			color white
	.box_social_media
		margin-top 50px
		margin-left 40px
		a
			color #ffb600
			display block
			font-size 22px
			margin-top 6px
