#loader 
	position fixed
	top 0
	left 0
	height 100%
	width 100%
	overflow hidden
	z-index 999
	background-color black
	> div
		position absolute
		top calc(35% - 50px)
		left calc(45% - 33px)
		> p
			font-size 30px
			font-family $ostrichB
			text-align center
	#logo
		margin-bottom 20px
#box
	width 50px
	height 50px
	background #fff
	animation animate .5s linear infinite
	position absolute
	top 0
	left 0
	border-radius 3px
@keyframes animate
	17%
		border-bottom-right-radius 3px
	25%
		transform translateY(9px) rotate(22.5deg)
	50%
		transform translateY(18px) scale(1,.9) rotate(45deg)
		border-bottom-right-radius 40px
	75%
		transform translateY(9px) rotate(67.5deg)
	100%
		transform translateY(0) rotate(90deg)
#shadow 
	width 50px
	height 5px
	background #fff
	opacity 0.4
	position absolute
	top 59px
	left 0
	border-radius 50%
	animation shadow .5s linear infinite
@keyframes shadow
	50%
		transform scale(1.2,1)