include ../../config/page.jade
include ../../mixins/mixins.jade

footer
	section.footer_section
		.container.ctn_footer
			.row_footer.row_footer_info
				h3.icon.icon-clock 
					strong HORARIO DE ATENCIÓN
				span Las 24 horas
				h3.icon.icon-placeholder 
					strong DIRECCIÓN
				span Calle Callao #907 - Nasca, Ica, Perú
				h3.icon.icon-phone 
					strong TELÉFONO
				span (056) 522722 / 522268
					br
				span (#) 956044867 / 956044864
			.row_footer.row_footer_map
				h3 
					strong INFORMACIÓN
				ul.map_list
					li
						a.icon.icon-arrow_rigth(href="javascrip:;") Nosotros
					li
						a.icon.icon-arrow_rigth(href="javascrip:;") Galería
					li
						a.icon.icon-arrow_rigth(href="javascrip:;") Habitaciones
					li
						a.icon.icon-arrow_rigth(href="javascrip:;") Contáctanos
					li
						a.icon.icon-arrow_rigth(href="javascrip:;") Servicios
				ul.links_wbs
					li
						a(href="javascript:;" _target="blank")
							img(src="#{page.url.static}img/foot_tripadvisor.png")
					li
						a(href="javascript:;" _target="blank")
							img(src="#{page.url.static}img/foot_booking.png")
					li
						a(href="javascript:;" _target="blank")
							img(src="#{page.url.static}img/foot_despegar.png")
			.row_footer.row_footer_other
				h3
					strong FORMA DE PAGO
				ul.cards
					li
						img(src="#{page.url.static}img/foot_cards.png")
				h3 
					strong SOLICITAR INFORMACIÓN
				form()
					fieldset
						input(type="text" placeholder="Contáctanos")
			.footer_social_network
				a.icon.icon-facebook(href="javascript:;" _target="blank") BRIS HOTEL
				a.icon.icon-youtube(href="javascript:;" _target="blank") BRIS HOTEL
				a.icon.icon-instagram(href="javascript:;" _target="blank") @BRIS HOTEL
		.footer_copyright
			span Copyright © 2016 Bris Hotel. Todos los derechos creditos reservados.
