include ../../config/page.jade
include ../../mixins/mixins.jade
header
	.container
		h1 Bris Hotel
			a.scroll(href=".banner_masi", title="")
				.hack_space
				img(src!="#{page.url.static}img/logo-bris-hotel.png#{page.version}", alt="")
		nav.menu
			span.icon.icon-menu
			ul
				li(data-id="banner")
					a(href="javascript:;") &nbsp;
				li(data-id="banner")
					a.scroll(href=".banner_masi" title="") Habitaciones
				li(data-id="proyect")
					a.scroll(href=".company_box" title="Bondades del proyecto") Servicios
						i.ico_proyection(data-id="proyect")
				li(data-id="planes")
					a.scroll(href=".app_content" title="planos de ventas") Galería
				li(data-id="company")
					a.scroll(href=".contact" title="Contacto comercial") Contáctanos
		.box_phone
			.icon.icon-phone
			span.ctn_txt_phone
				span.text_phone Teléfono:
				br
				span.namber_phone (056)522722
		.box_social_media
			a.icon.icon-facebook(href="javascript")
			a.icon.icon-youtube(href="javascript")
			a.icon.icon-instagram(href="javascript")
				
