
@font-face {
  font-family: 'ProximaNovaAExCn-Black';
  src: url('ProximaNovaAExCn-Black.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaAExCn-Black';
  src:  url('ProximaNovaAExCn-Black.otf')  format('opentype'),
	     url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADbYAA8AAAAAagQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAA2vAAAABoA
AAAcWAqB5UdERUYAADGwAAAAJAAAACYCHgEER1BPUwAAMiAAAAScAAASbPaJHd1HU1VCAAAx1AAA
AEoAAABY2m/dv09TLzIAAAHMAAAAVwAAAGBtfWlZY21hcAAABGAAAAIAAAACej1haulnYXNwAAAx
qAAAAAgAAAAI//8AA2dseWYAAAhQAAAlXwAARJST3q0HaGVhZAAAAVgAAAA0AAAANgdj8B9oaGVh
AAABjAAAAB8AAAAkBqsC7WhtdHgAAAIkAAACPAAAA+SSRxIibG9jYQAABmAAAAHwAAAB9Nfd6Txt
YXhwAAABrAAAAB4AAAAgAUIAV25hbWUAAC2wAAACXAAABgld+uG/cG9zdAAAMAwAAAGbAAACKC2D
8A942mNgZGBgYGRwdInu6Ijnt/nKwM38AijCcGnmNXUY/X/+f0vmQuYioDoOBiaQKABsIA0ieNpj
YGRgYJ7x7xqQrPs///985kIGoAgK+AkAqHwHnAB42mNgZGBg+MkQwsDOAAJMQMzIABJzAPMZACVR
AZoAAHjaY2BizGRuYWBlYGDaw9TFwMDQA6EZ7zIYMfoCRRlY2ZhBFEsDA8P6AIYHvxmgIDenuJhB
gYH3NxOz2H89BgbmGYxaCkCNIDnGx0yzgZQCAxMAAJoPoAB42m2TzUtVQRjGn3fOrdB7tXu89qGl
INe8VwmMINoL0aqNqxbRsnUg5E5ctAySQlsUCbYVgkSSqCAk2kSUffwDGZViZoTSx236zXDslnng
x3tmzvu+M/M8c+yOesVjp1R/JhjvVsXuqcfeq9lmlHNnVLBVFbXG3FH1w14bVN4uqsNSVbWhTmsm
/qJ2VS02LmfLarClWJfaF1hmfp5+y/E9tYKqrFONPTYZVJO7qbIt+u+2rl57pRZXII7DGNDbtRIT
GFZD/HZJve4WMO8aWeMzMU/0fJtVziayGnq6acY1en/03+yG2vVW3WHPxBY7rZLt8zW94AzPVISy
DcVYRIOilThvNq9F7deif2kPyHEquzliyJ/P6kLeMeII67XHurLNsP6Ur9mU/xHH51XSihLN4cEK
esyqLdO+Gtd9jabsM3y3UfqU/bukUYdtAE0f8i3o9Yk+BWoG2H8YD6gxkJ2hbI90AF8qesI4VWIn
6Uute67ErcNX8o9oZ9R7G9xV/zN4EPWvU7GE+eBB4j28cT3Kb+q/FfbVFd9bM48yogfBqxM6lOn6
H+4ucSjT/y/QfgUP8MGvweM/uoe4lQvoUvdlW0Ivu4JPbZxjkr3OxnVy0b/srgS/7LZ2WA4tA457
s8Aduk+cZtwJ/VDjzE/ReBSPUnWF/yOyrm6oRjrICZzT8aRPlWQET/Pkg675SfugJvadul3ci7D3
Jbw4S/5lHYw+L9Crpg7ubvrP/xMYVsldV59tcJY9yv8GJdfWOXjaY2BgYGaAYBkGRiDJwFgC5DGC
+SyMEUA6iMGBgZVBCMjiZahjWMywhuE/oyGjE2MwYyJjBWMd4ySm40x3mQ8oiChIKcgpKCmoKRgo
WCm4KKxRVFJUU2JSYlPiVxJSklKSU9JW8lBKUEpVPfXj/2+m//9BtgHNVGBYwLCUYR3QTEfGIMYE
oJm1QDOPMd0AmimsIKEgo6AANtMSzUxBJDNTwGYyAs1k/v/9/9P/R/4f/n/o/8T/Tf+L/6f/D/zv
+9/qH/vf739FHxx+cODB/gf7Hux+sOnBqgcLH1jdP3r/0L3n957cu3Pv9r0r9y7eO3pv5b1J9/pv
a7N/Z/0GCRNqA0Y2SJCD2UxAggVdAQMDKxs7BycXNw8vH7+AoJCwiKiYuISklLSMrJy8gqKSsoqq
mrqGppa2jq6evoGhkbGJqZm5haWVtY2tnb2Do5Ozi6ubu4enl7ePr59/QGBQcEhoWHhEZFR0TGxc
fEJiUjJDW3tn9+QZ8xYvWrJs6fKVq1etWbt+3YaNm7du2bZj+57de/fdK0pLz3pQsbAg53lZ9qeO
We+LP3/JKH/55vXVD7k1DCt2Nabmvzvz8VVe7cOUptbpR49du377zo2bO78ePPn02eMn33/cr7x1
91FLT3NvV/+EiX1Tp32bMmfu7ENnLxeev3Cx6sqlcwADzs9VeNpNwk1kW3EAAPD3+f+/77yvvK+8
j//LIWamKocdZiqmYiKqh5qp6OGpmthpKnaYicgpYqaHqqqIHXaYqKqoqZqImKmJitqhpqqip4l5
pnKo2I7z+2EYZvxnDnuONbABTuAFPMIreAPv4H38Cv+FzwiByBKLxAbRIj4T16RBZsgX5B55TI7J
W4qjfGqZ+kT1qQmt01n6Kb1KV+lt+gN9Qp/TY3oGdDAHlkAF7IBT8BNMIQczMAdXYBm+gQ24Czvw
GH6DE0ZnHjIlpsq0mR9MzApsli2wEfuO7bCnbMxZ3DwXcTWuzR1yQ+6Gl/g0v8yX+Abf/WfE3wk5
IRI2hRPhUnTEorghVsQjcSBeizMpLT2T1qWatCvtSyNpnAAJlCgm6omRDOSMnJfL8p58pmAKUiKl
qrSUnhKrQHXUrLqqVtUD9UyNNUMraG+1HW2oxbqhL+gVfUs/1OMkSi4lq8meQRg5o24MjN+maxbN
ptk2u+Z38491z1qzatZHa2hT9mM7srfsI/vCIZxHTtl575w7V8405aQKqXqql7pzH7hFt+w23ZZ7
4H51L9ypp3pZL++VvLL32tv2ut7IZ/wF/5Xf9Pf9vj8JFoOVYD3YDDrBMLhFLppHebSGXqIa+oIu
QyG8Hz4JS2ElvElb6cJfzfaJWnjapXsJeJTV1fB730kyIZkkM5kts2bWTDJJZjLzzmSyTpIhewIk
LGICSQgQgoGwBRAIKFg3FimiVQkQFwr6aYtEqQsgVvTTp+Vr/bXWT6ltbdVfq6W1LbZ+LXnznXvv
O1sW/u//f8i8mcnce865557tnnMuwzJ5E6fQvezXjIgRM0yiWWYWycwydC//OOox8R93ipqvvydK
v/5XhmFYxjFxjfmcPQpjUxkmYBVxrCXHV+xVKX5+X9YrJXNLS+eWfoXOjHeU4rcwPgetQA+yJxkJ
o2EYuTXH7yvmvCqlIkmsjv1wJOTxmC1FWZJXajxFFjO8QSt+pbQUFVlmbSsJRN4xhIZ0hkEfAg06
JpthzNaAVQyvAEdenJi8xFb8csBXyLPREbBvzPGqvRafypezMacYPnFKnzWgDnRYis0nTpzoPbzs
JPxbdri39/BhjAMxCRPH0AkRwzgYRu3PcQRUnLfY73OJgOSAn1Oq1OIcqyVJqTCKMPnKUyuqGlyN
Kk1hVXVhS+2mdq46r1yZVVBdXdBcs7JzVsU+f5ZcZbe4bioPrVP0daW6781TZyptNveikuY1ihUY
ZyIjmbjGtgGvUmCFGlibHThmwUwiPBJZESfCzKYsY7x+n0VJnw9Xtc7Z2dqqrkD6SmVVa2tVsLWV
X9PWhtzwWtzT0LhsWWNDD/9v7NHxju5Dvb3wAb3W2NzML4IHxi1ipBPX0L8At57JYVyYq44kK8Yd
iGxSOhJno+KAOikDeQM5bgSLV8kVauCK1YL+dUJR3tK6fNDWXVvTlZefq81KlwwbHRfkMmOaRWpR
SHI1OqNz9dJNcxd6Gpctqc5vtOkLcws8pSuqVOlFWeU6s8mPvqtymG0eyn+QG+anRG7ipSYiKDHy
gce7J0qRnv0hkWBxjhTIlCL9lm3btoQO+99G77/te5lfhcepYJyIjlM7iqWwsdIDW0Ohrbe+5X8J
jbzs+xmfQ/Cnol7UCPhlGH9A7Ag4AmoHJw6oxWqx4+fNiZ227m5bZ2JzYkdOT09OB+pdU1rl8VSV
rhF+YxgG5gjqZ1msKciqtPqtfg5Eh0P9G1dvhB9k3bev64476HpzJzYyV5mzjBS0SiF2BFGA8h+v
++pQSONLTs4wFwZy8iuDOxb400p0CW67I1BN5hqZM8yHyAe7CBrp5z48f/7MnRQm6CrAhLWqBC09
PbcElFRCtROPYSb+yPDss3iu2irn1qx5YI2CfZ3qWSbIxK/JHqjgW4sL+YLIa0SwDQ5vsQ/Lv0L1
bfOA1zvw4IBn26BBqTQYFQpJ75GLR5YtO9LzwJvH5r/f3vZBO8bDwmMt6GwSli0Z8JNDa8cWrXz3
EXRu8er/RXkwCx7vAT4Fw+QhfxD5MQ6xI7z1HHqPbznTZjLUuAYWfrd/1/yNbx1+tjdPa6teu2Fz
b2j3ZgwDdAh9ADByMMURvcVw/PAWy2pSFCJZy19atpuH8mqspnyjWZJsaK7Sl0oH5x5asb3OW9aw
R1JWNFBizjLq0XFU7Ndolq3r6vTfPCulo7xzLeYRyAf6DawrhUnDK4M9lnMyTml1+MXo2bGr7/6H
2z3Ws+0oWNNbR0YuXSLrlAGNHxP7BTTGkuiQmZVWZRBR8v76cPO6wjJzjslYaLwDHfkiPWBq6dot
GVhb5jRZHB4DOjAyrDZs7h/YI+zVFVi3mjGDBgiSQ42UAYUhOsKIVChx+47DO/qCNxkKckoyqh21
S3esUmmMimxlkuTVI4+9XH1HTnso0ZK7BaAfK9Dn2vMH6B5h2/uj8D7KrX6zEqELP/wUPcmikR0g
RXhtHwIdWWC/8skeYIvpgr0ME0G5LirGhkshJxQ50uFPqm82bK7zFgVDPWWddwQ93rot693dblV2
TkaG3SDp7SjplUkXlJUvsHQsLlsglfUGOpajkSxnaWku/4XRYHYmJDjNRgPZk4lvgIZTlBdhDlei
dBTRKEwAGDFiwVU/I2ywlVE2LAHGLDCqktxZGmMqsKG1PsmSu3XVwB7MFrQ7fyDfkGun+kH0C30J
+pXBMJmChrFxmlZKnshJFI6/P6x3eO5W5iqZmxWdK5+s+RRIUpz+I2cZ/iv/2yl2wMA8BPYmGe9N
IfLblWI16udfQM0ff/zQ7k27NzQ3Al4D8zrqR1eor0dmP3h7v5kOwy+0s5v/Q1c8LJToDzj8iXjQ
b38LQ1S7NzQ2b9hNeZAG+91K9tsE1icHb3Oc2qazSoU6zJN+tcMhT9fI6ms7WxdZ8iwSLQkYPjAG
82dzqgyFbk1De4213lWmUcj4rwVmsYx14hw7zN7GcEy1INthWQJGgSMKs0sNnh82lPMSGixEqDgv
uAKRN8hWIbrdSL1t5/IfrFi1Z808m1/MeuucJRsWlchS9hWJdBKdcuXphxetWDOnXd1VmZKRnihW
J6utefUP3zX4+rY71t72isWY0hxsWPODMtdnGal53pXlXbesf7Zr7b5iUxVKFsuT0jZZezxehp34
J/DtS9ATMVgG7E0hRpFzIocYffmj9DVpPzp8udZs7upij/JLP/sM+988GP8pjE8H66fD9k9mjtUW
ry8fKeVgv+AX8vHfILbzpgqPL3TT91yubCvHWdmjK+sr2yTJS6rnrUKPLl/O/6vYvwb2EduFy6AL
SsI5KXDJyKrFLlAFKWENSto+PLzd3VCQlbo/WZtVXV2Uus8tOYeC58zBYjuXl8vf3eV9i+41pvGf
xNaB1eOsMgyLWBVMluzbt38+u6/SePud8+YZ2KPc0lsbH35h5Pmz/BEim3judpibStcGZo7DL7Sd
P4PaHn3kkUfZoyPLR9bEjZ1FsAhjr4yRcWSYsK7fwbpUkXXRkAxWVYydoCIJMVu2D2+f0yffn1ZY
Xa3Vo9mf95OFrZ7PtfN3F5tH3nyLieD7ktIGvgn/By/t59CXZ5aNjS07g1L4v7NH//GP8FjmCol/
CQeujI3BB+y7gJ42eJsWY9NlnEyRtL0hL1eerTOPDUl090sNevQub+/vC8NiZWG8DrES4MlASFjZ
my05Y2Nrf3zso/n7QEL+htL4n8TyJZHwENwM5t4YcG58IgIPfy8h6xBZRXglOsSx2093B5aO/WpO
+3+iGv5V/AKw15AkZu2z8BwyQQ5wv/z+WrJyFQ/f8ddRQiQe+BZ4LsYUJ2Cue1XSBK/UgnZ9PTz8
9TD/89tuk5xHFefP829kox0RmfkdkRm5IDNYqvNRgBh+kOYrY78dWL9+wKXVZWfrtOzR3T3du0ds
ZpNtr4DzI4IzLbLTGAAOwpIcnCOAvYgUJW7D6OvVt6YZLWLzTSKBitEfLCl3m2cdu8mc7XiFvztC
z+eER0qql0qBJrEjTBH6/JVS9dgXnVvnjRKafgP+fefS3WXrbSYzUIXPBtfQCaDJHOu/ydEg7HKF
c8HPdrVGTgVD/beEIoeCLZKG6Ilg4XBl9DTQs4XKZCY87iT2g8gk+Fkrso31ok3LwNGOCHILdHwF
YzLwboCLxfLmpVKHajevqB1bNlYrKRxoQf/Oe4JB9DZf3gJeHEVsE/HhIiwhaPHlwz+aPRscO1+H
zpPzDzDrqbAspSI6DMuS60xu3rM7nsv1313seA518qdgzkNoAL8E2KwoKtNWuYgDsyxiRZdmhy6N
PvR6admlh159FS1C9WfP8ufJOib+Cx5fw5xkKrdkApozduJcTejcCZSGDn7xBb8JaNLCuDuorEJ8
SIIPEYfu4B85cgT1Hv/+A2jdyAF+P+WNbSLEvEtkFeJaHJDJuHdPn66uviha2Te+ionEvhNC7Cvi
5A88sPYBiH3HKwn/Yf6Pw/P9HOwA9+PTVVWnL/axI33wvRzNQXWUh4isk0N1g4X5g70b0Zx330Vz
8brGJ4aQduIDDD8Re1kt/wky3Ed1n2ELmHfYC/g7udXBvdO7YQ9bcIjaWXwWexr9GfY1i8SU0XhA
7ecgbvGDiIEje/q4KdTc3t5sLE4//qZGKtVwxaE7d9x6t8lSzB+zjVo2DhHfeQ1dJLwFWAEhBBYT
Exd1oo7XMrQcp0sfHU0vNjbNb2+enX3CNrTJiu3Enyyme7buuDMENGO6bgG6FCSu80VsbpLgZn/f
M7RpWX6TvNCgtxcW2vWGwgLJgU/3a2TD2uDqKu2wM7w2IrP/j2v70/intkctm4YEWKeAHhnWZbVw
UjYgqxEOqOp0JIIA8w99m9e/sWIC5S101JmWJA5I9g+t++49QwGz095py0H+hgZ81oMN0dBzB4d1
jYtqsgGB6Lx73OlsrvWbFYlp5pIS1LlXvqgzbWeCU743vF8VZL+0jC023oSlRVYmg0BIWB1w653B
iiKv35pvrjna1oKXaK9pzNJmZGj1avUbgeFCd5Fn9tdbh/FGVtZ0eZSoy3KPxTNQBLRagdZngH9S
oitxe6lEz4wajDLYxEbLJlRld/OX2aN/1eVvxDQCt5n/YC+B7qSReFPIKohg8iOtPn+zP3V0lE3z
23P8/hz7+EX0CcQwv5ioEOao4ubQFVJDQyefd6i1s9KzR9sjIK7/U7pT7EVf89LOLkag+9IkXwfh
Grr0Q848Otp8eu2p6lXYkjz3S6qbWG7F1P7gncW4iIw93Vg1qspI1pgkdU2shp9lT96lEuCzD8Ie
GGL5EsceNZV39sHjhmzpKH6NpjZbl8rSmnO4IArmALuE5ydlWa65Bk9JeZjfRMam8FsVy/DyQGSy
Lj/oj+jxWZg7C88OawyNl7CQ/65v7dq+VYODqzwet+TwB/ff/8Hh/UObQLJpzNuILoZtAPg9B+aY
sjh8jiNarFSBrBeD1mbPbm6ffwfH6dPSJWbzn9ijWFm23rN/05D5CUtYRhuJjFI7ENYzcThyJhYu
HX2KhZBLwpoXMh0/nl58u+UJ89Cm/XffChageLzvT2azwBMn+hpLEicwQ4kFW/za6KgkpJOmKArT
gQ/6/IcTsuSCvxwC3FF/GeMucSga9pfntldWcCXevPKyvO7FXc0V0lKjTO2sqHCuktQMctlpmZnZ
dd6ajooBqS4jVSJTmOo89R1UXlIBRxbbL9imSiTkWiB2pHJzvqHK6TxeUqKSJRHZ+WDvnXfufYFK
T1jengGpJ/vsx0dFQeaKAxAPPTOa3mDdNGrI0IhHS3R5G9Ft/Gt2rRwFmLA/PQdzY/xp4ZMHTpWW
PYk+wSaf+ALYhJMwZoo/LTpVWnpqyxOc53C5F5wdRHuf8H9GMvzC8/4FDwAT8acBB3aPYvTkk+6i
U0PrTxYUnly/Z89f/3L77X8R1lFB1qGJ8JoefMMaRJT2l5sCnvzyZromUIQ12Oj0eLR5G1Aff8VW
gIx85bqtBB5EbagL4FGfG8A+V8yhLv6Fe+5B9Xvv2/y/967/Co8Tgb/8CPylCftLvAFwCPRjK+gr
LkdKkoVQiME4K1Tl6CNtyQKdRqNbUKLVSqQul1SivdhS8obBttBmeL2ktS8z7b16haL+l2mycJzz
R+a74RyVjPvuqlU4RYXzKCHmSwGnn5hcX4BgzkfwkSDjlARzklWmlchcLplEG8F9sU+W9kuM5720
zL7WktcJ+jdKWihODXoIHQP7g2MOdXqi1eJiw6kjIwu4kL8fJaTIdQX6HFdqekp6auItKbvI2zQJ
ezQ5u7DGla/2VfuqV4t5f5U/RM/8jcwXoAciHLGp5ZxcFE5GAMfysu7LuliS6ygtdeSWvITO8G1s
A/lQSnKJ0olj6BbWT/bV70JxWWjB/YqVR2uam2s2BE1RB2ysXrlSvfuF29Xzm1IMghvWpy6hazSC
zL8Nfs8NMYifC7thIYBVE91JEuO/ccSfApH4XI8P1w5jdubehS0DqQdnZcvU0tlunUKVrvLJ3eo8
aUOus0OV73FlOyRI0+vJ79ja2lRabcvO9fam6UOyZKXmgCzLad+iLNMbLXHxn0rIoHH4RcNAjh7+
IBrcvXt35y4cEe5avGvXrnXdNV3IA3Hh21013SSuj8iIEPH5qaSArKCKFlSBxyRMPIuGYL15jAcw
gjjS4CdgRJEIPhCTOMNGSexzYF4Uo6H6+oF524IVsqBem4UNVGtrT8v6mjKvpwAbqL0Om1eDmtrc
BW21S2pWy61qWaZWZax2LcjNX1Q9v6q7yCrVqEzVi7jMVFuhMgPb5InPWDWqYl8E3QItY4gUYORJ
kXeoym0xu91my34X/c3urXW5al3ukBt+SN6+YOIb9jfskyQHhdNS0iQTnJFMmb4cLBdehzqaHRE2
FnaT/c1P+d//9KfI+MTZf549+0+RrXzp4u3bFy8tteY3hJYsrWlAH/GfXr6M9Jd5Jx5w9k1L3bYl
nbfOtpZ1NTYsw7yUoCCys/fSvA+KiePUsekfMXU0CmTfoPLnFhfn+tRalc3sKLy5ouWgKnmW0oDq
jTk+r8dv0al11kZXaekhhV5RS32WkalCj6Hvw3kXrJ/d6ghwGQg/xeixrZ2dWzs7tnR2bumsOjs2
dhZejJADo/ktOCMjGRYm1N/7B3SF/8PLICZwqrEy4+gyyADmuZlxYjlIEjyzGPMM+OMtFpNzoV/Q
zQA5FWKdv7zzzM6dN3cMW1Y/uBp+5hRU5dpWmDyFMo1OVlUl06F3bt4JQ4Y7Wvr7W5pXry5atuxv
TpPV3ijX3JQlnDnYeUgCNktEs29Igs/h7LzF5KyL7kFFQBvJJzKULq9K2ElUtHDrwoVbRXavzeZl
2/H7hU957TaflfDKwMwSag0Z8dUGmt+jFQeS4aNVB35vN6EnBZ1EAVE59ptAzzQ59wD/+3XlaoUz
u7Z0aV17cM596OTCnjqdTFVYP3t2RW57iBHgjCI/wLEQjlojx2Ih8e6LBWpEyL8w1O+qz85XqrxZ
SYlKT55LXevtCc3NN9tcrLK4pqrBqUy3oyWo1l4VKvWbfYmJxVPOTeAN39nQ28ZeOHRI8H2NYR+O
LUDYe5PIBscmxH2PpjrVL0GkSf03byhROpJhrg7s6+M03kykOSDM/XKEHm9qbGro62u4spJ9cbwJ
Pdl3sA/jcjAPMp+jRdgvBvBOkdj4c5KyLL0WY7eZiTLmLdgVVUzsg3kBUiywoyeQqzMbrZlpKX5j
kzYjXWctfdNcqtcrJMb2ilm52Xku4l/RSebPIj+OMeDgi+f/eYs/dO9KdPK6v/YuIcYDnQyATpJc
izx8ropUa5SKE3Vz59Q3zJnToEhLU5hQcFldfU/PgZ4OW5u1pXUanQuQeCORPK92Ym1DaZ1Y9f52
liodQ3QK9oJ9k+TE0oH3IOizkBXJqQwGQASBXjulmVXxn1Qg/dXsLSPfOZD9YCn/d7II9uh4H7ye
mzOn48svBgdXkCWJCNw/Eri4moChzppWRuOBI/lkieVFsVj64sX32TD/EnCmlv2SfVxYh2+6dTj+
z7LNlsWv8YsbiXr8wn8xk+CzTNJEJaqD2EGDo2i5kFinfp9Y3iALXjkT7zbI7VfqLGNWZkZWZv3s
pS2LLLmWVA0pRaBUS5mlzJyXmaHQr2lsr7HV4VR7JpKG6xIimhsSrSb1/XSS2+DkMdnrqt4Ne/4V
zWCzHxy6/kg0jT3NfJCd2Pm3gr5ei84XrT4UByA6P4nsAc2tBOJI2LLQXbiwYt/zsVTMmzc9HctB
E3Qg0wyy4HOG0oo1Art7nCCOBWpWmtQpWfN8haps8vtYDPT3dbqiyiatzl3ZNO6MIkkQcKwivoRg
mdaHx2B5dJI7R1wMK0piXPv1kal4NhG/oMYRKSPUU3KwYoN3iMWhxcWh4gGtTKbNRKqYZfyoZG4g
MDc5U5uZqb3+X1H47MR1eOwmOZlMEuVjWJEMvd0vZnfzY/3as1+gYzhRz48F8WScre/C83GuLEhq
DAX4pBpr43DZb0rFIQMJuoLYqOVTLl8xuQpRsCeDGMNLgjEsk71w8NHYqsRLaVbBPAp53e1E7jIE
qTXHVBlMILb/Fqk0YKGNlBumzMUSGzt3CYjso+G5VGAjk6Nzk0jGVpDW2OkLqLiujGInwhrFL8I9
JmiPIEfZ00tRHMg9k8To4wh18TIUs0a8x8wVskYxzTjKwUP+DNjSNTYmMCSynuTwOKq9cP5NBh4s
GBsLrx7gTcC3IrLulBgthaEiul4lBiusFOvj+zCqSFijeoY14ulFk9Z2GLBOXhWmE7wTqyD1Mo2Q
IefC9SgR8IhWyjiU+XZJCS1LDQQM8+YZAij5XpRKi1Moed3zZzcKa6a2wjCTpYhURkonGYo7aaUk
3kjE1U1EtG4i2ERBOjNjqyftsA07IxUUvBsHYqooU+cDr+Pm74Pd2RyZTzbpQFwZJgYGtqtRSY0D
cy/dOS6GEryB09FC7Wr29NyKA+oT+BTmlz4KPZZlxnh6EwQ8Yds6g1bEYXp+kuQ8F+VInAAdjEGF
wJueRivQn8gJw0HbfHCPDzL3dM/u6Znd3RPq7j7d3R0K/0R4CfZOTr0x2DzgZbQETboLlLi7ABds
c/y426KBk/S4Koa3NXBpPe6K4Rf7MzRVVVVoVbrEolrY8djoeYt6Ef6FOvQXDPzdryRmJlzQ03Pt
NfQV2Xt5WHImVXpuBumpEKo9RHamVHymwiESNAnOIZAivwCHytBUQFE4STiiFaSInQzqIJUkSYQq
IkfT0CUS4NF9ts60y5PAvzhpp7eEqY7f5+n4QHMNhA+SiH0TKk47gAELhaoTtXSR2lO0jikRqgQQ
DkYrmUIhc8wVrmSatFr2aB8tZVbbcc3QPnGNLYOzHXgrezTrQJMOOHbD8TnOWEe7Jowitqx3zuYS
X4ZXmWfxFFn0Jr1FVz+6c/Xiuww2g93vsz8Q7C3ZKNMZ01RqU0WumdNYMuWaOTyHfrZk17Jae5ne
mCbJVJjqhP6+p8m5Sc7ow3HdTNUXD4jUT6ZUYNiCQ+O1U0pM08AmXJ0J9gBw+bWpsOEMNw3wKGws
b9kxnmYm8LdQ0bt9GupBCG9E/wtEAgtm8gAzIVROcgirp2J2xhi696cQkCDgf1HQgYKZvONMFHxv
kjqMT6UgNm003jSVB2Eafk1izGwmd2qMOTP+9JiI8/dTcZti4s7xgzPwn32a1AecOBc5uSpIqh4G
CNHDxx03CuO240JKXLFQW9fWPsEkzsvPqXM3L9JTGtAKX3EEsTd4z1BAVGvrCzWFCAlPNzTQHAau
4+H6Zv7ks7oQx8anWyNx7O+jYaxqbuekCqipWUqi2DeEKLYi4+6+TdGSqCnZHo5hqRyeAlnH9UzN
TBVNHLtNrmreA/o6tbKJRIeY/wu4oFeT4V4CXZ0G7gMk3xIPV38DerHGTgb9suAipqEa9JTGABT+
iwR+NrbA02PInEZbJqP7ZJKOTIN3WXxqFXzFVXi+RuxaTMx8EXi9YHSUGEP0Ca3VwfMfkXFCzPwP
4F0LjCOGDQ9kJ3CF5htiy1IIvHDM/A3lRQqGSowUgSua+HcQymzBLtwoZs6etLh9AChe4wl+ws+X
2Mukt5yROwK4PRZHO0IFggYwOQ4RzmgoRkxLkjV7s1IqDOWBWwb61i5uqrPM0ss8Hjf6pC5X7gw6
ldpa3f1HDh25a8Wyu1saWvktL73EhPmBngF7KsMZ6alVU8c09jWukvq9STFjXGX1dNSYhmXwLPB0
VqQLYFKVFe9bbKV1J9aVmGor+uGh/xkc2K1YOC9g3YiBw1aCVsTDyZqBHrzvsaCeF3QhjiqiBWF4
LxB49mnhTcPNWODdk/xTHJZnYpiZIOB6keDSTY9tOl2LxfbryXoWy6GUOA0TwWlrG+pgnUwy7cYK
yzccdv3mpHBSFaE8gz4vt2wP/waquDmvLDe3jGXL8uAN/19dJ+ENfBvmE9juTOC6EUdogZzYeBwH
XCQkV3srkVjVP7/Qu7Yv6ElrL+QGV1W5q1pTM91uT2tKqPaD+7PlobqBtYeNH6euT/9sKGVDGiP0
0Twj2LppKsQOkLK4KvE2ELO4SnHTIeZ/AgdkIw5OEMQsDs6H2PjGwsmagR4sZXGgaqiYxVNFja1I
gPdieOenQsyZLrcVC141aevj8JyKN64srVMTm2mgEaNoxmo1GgQeqCeXrLFhvb57hrq10D9B8gNq
ckKboX2iXj86aqyNdk/UXBUtuFoT1zwhEmildrhwBjs8M/WTw7PcKSuJtdXX75phSbTvgnkNTLnQ
e/ra6Ci267R/6XbaexrwA1ZlQClWckqzP9U2Vlr6KH/m4kElKnvPfND86MgvhF4JNYxXxI5XhHPJ
lSg1dzQvjzTZVDZWvb1Bjeq+ytqQdQw3S9Q1rYzcDWHvI/cNTCRnSMrDtA3XH80dykiUxnnZ+/gz
6QFtX39/nzaQjtoeO3LkMf6MLKe6Osei0MKB/FyWwoKTVV4kKrvwihATPkV6qoz4Lofdim0brUI7
wkxXk/10cD6L2CfgeWqCzctzYp9feJO3aD62TAvcRW3LV0wMDDzsARW/SD3+7NlgmEKhvZsDDbfR
lhtSH76GTpCzbS49IeFj4Q0bPFHpvqqFRQULn5yx0RNO5PPmXT9wg3ZPincIdMGM8d64Q0ZEqZq5
UYalBN2gX4YtAYpIfEHPwvTsrZ8xvhBOx09MEuMHwifl+Oxc5MgM6yL9moSf0gg/wbaHGzeVlFRv
uH+TsuqRcBsnS3tPiC+VxnafCDyINqH0UkCkFwWdwKtDTOJED3qZ9vSp8T0VLkB6wPDmZeCevpee
X2SvtWQMhoIWZ6rMmpI1e/nj6J69o7ULVQdTXOv2CrVGlEDitfC5EyVQG0riNGbSGDml6yeUGggQ
CZvJmFzEssfJ/aZw+SiAWPf8Nk+9yp6jZG+pqfEZjWSsltUzL7Pn8Fh5xPveYnK7TcB1Vu8KueAH
36ZiTcwF4bwWuT8SPqvdHXMiizt/hfte65kfMBZcn8kWbk+A6mP92ViuKXF66n0eeXqfyV9Q0Fhh
sQdMdA1OZCRnZGa6iOOVSVFG7JmX6Bbmkzs2RubgdWJBG3cdXtiWCzVcnJv8Cl2L6cWnvc9vHV88
akUf2min8b59wr03dJree7PjKvdpfgM6hK++0e/Y5dHv2OXjF9ha4TszWsF8zp7CUiX3YZsijrbh
mDfXaHzJklQLvmsTRFd2zPdLSrUifMmmhtypQ8uZqyBXeO6N7+mx7p3tsRd0/n/u+LGMDa1APyc0
m6ehOjD5D7a4ZXwGwP3JGbOEC0Rxiyoebo9dIelTQsvRO2SNZtInE0+pePIf0DtDNYR2gqzy0xtw
oTieJaQnaiN6h/DEPA1X1Ddm06dxiOOYVhzHQZAr1IBSYU3YVzrU1oDYT65zotSOhLbEjo7EtoQO
NjHh0qWEJlFnpyjcg3+WzMF2SOkALylM9NPJMLcDZifcDP/gFzu3KeFFmL50qYi+6ewEGAFmK/Kg
9Vif7ZE+AeRpWt0EP3/lmpo4X1MTrgFNXBOJyF1NHIExxUL3R0LEEkff0S4D1CA0i6F64c0waT6I
/QFoEoC7Me5OcRFTLPRoUGICuMgdAa5C+Fqelz7t0VFi+mdza5DcNT5HatzP4U/4tjG/Xrhs/B3h
++Xwfryhh1w9vonUuCcaevDVY6Rrbm7kP4NHI/m6t7cR3gv9aEwVc5X0HjAB0udzNdLgM+X7mJ6E
v9FGBDTxKDy/pXdz5LCobwmNtMRO5qeRe5encL0Nd9SCUyB9otgxhEuUYnANpOeb5niQbvlWuVWr
tSm29Eaqk870OYsWzUl3kptS2we7lVnda7YJdcmG7ixldzO5McUyMvQqWhDOGQMmsdWBu4rwmURo
0EEL9IHkgD6/oCD/XafeuQG9+gL8++j4ce2lS1p6VxQefwea4RMX6dGTYjJJIwQOe1RqpX5hz/Ct
24aXL347U1ldpcwcWbB/78kT/JcLRkaSt3EXLvi3J45E7xacZX8I+qYK51PIoT8g3OvFR//f0dO+
fO53gpVr+3F3MjniH15d0fn24U0H9gvnfFKX/prwOwn7ZzmXyqKv+ZTvXfYXFeEdRyH+Iq0Pn2Jb
ae93YoxNZ/Vnto8VsWVFneyS8ZPskhF8r0s/cQptpWPlajEOYgMOGPzemo1P8acGB1Eniz78YuTx
T/6TXIJBjAGZUD/aFemnIjcZkYn0nNvg8ePwvRKR2BFQyzlkWhFslj2Rv64XZacvNf4ZTdAcmYF5
BGQjmdQAQT4CQoRJMhZECxxJgcjtWWvk7uj3KuBfvTWj1ILfWEozLDuVWq3SliE9ZJVKrQqd7pHB
hwZ7nL7Bh9b6nN1dHmeedwn88+Y5PcJd4GPMVSyw9J4JvjUW7phVwukhX6uVyEifrGzByj5ZGttF
+mPHT9A+Vdz39Rys/w8kawvRPA5VgWzSjg2RxqTPBnuhZUme2wq/Op2Fdkc+fHLZ6KfXexU26XKF
7c3lQP1yhZ300nWhfjaIaQtY8aU68uKw8OHX9or8liHHyGv5Qfide/T1rlVdS7tXruxe2hXpR0um
uS7hNqoyskEff4yfwq3U8e7J44Ubp+GrqfjWKdlW4eYpv6ebrB3b5ZXkPhy5KSjCHbXyVPSmcnRU
OfrUnXfdieaiOfzz/K+QHdn4j2BOEuNknOxGdqOQUzMz+cwCzDer0Pkn8wv32jk157cmksIO/rvU
R29Sc7TDBuyGklrocuSnSQsVfEksJa4JKTnv+5Uam9VntWq0Npt2/d69qNimqYQ/2DRaa6Xmppql
ob2hpTU1rsoKVwjeCB8qXSOVNjwF1QbxfNv5vd9qbJX4D7d4bVZt8PrSUAgPi84JBl01GBqVY+zf
fsteAotjxL14095nKY67/hF/u+WDZj+9DBJ7zeX5uHsh+PzIaklsbZ4Bgzz2ykY8gq/CFzhiEfAj
sbc5mP8GAu1aaQB42rWTzWrbQBSFj34c4zopSRalTUuZTUsCtuwIkoJWdUygiyYNMWTRTRGW4ghb
GiMp/lkU+hDdFPoAXfZhuupTBLovvTO5NrFrJ4FSCTSfNKN7z7lzB8Az4wwGrq9X6DMbeIyfzCaK
hsVsYd8YM9t4afxmLmDNbDCv4JH5kbmIqnnFXMKa5TGX8dT6xLxK/IN5HcJ2mTdQsD8wb+KJ/YWy
G3aJ3hKtRLGBOr4xm3iIX8wWekaZ2cZb4ztzAVvmC+YVVMx3zEW8Nz8zl7BlPWcuY996w7xK/JV5
Ha+tK+YNPLBbzJtw7RBNSKrkGCkidHCBHALbaGOHxiP49L1L1KLZmFYmyPSzQt9c8lPHHhziBnp0
ixtRMv0W0hjSOKBnQCvRlP1xGnUucrHd3hFHftoVrSiWSSaTinDr9T1HNHo9oZdkIg2zMB2EAf14
QlEkRlqHT7GP6W2gSeVWqg9ptknaBA7oC05SOYpiXxzLgU8xc3E4aibigGZOSUwHl7RI2cNp2Lns
+QQTu/NmPQq5PL1Km9Os4qZeH1D8RBsPWIxPBe3qOJOiQVmfOPfEjNjDUZ76oimTIEyyMCDNfrvr
6erctw73E7SoRgtSA2d6EzNKKnWBXdpK5WOXpsI0i2QiXKde352XNxHXmG5OdUF6lb2hdqfK6ZZ7
jHRfKbp2qJzF0y6VOL+1a505x1EmfEGGgzBWjSjPZxvSwS2xMLMUuudzOkkeanQP9e1MtWV/KWnT
GNNved73arXhcOgoDdkkdVvG/yfmv/bPnT2Dmzt854YuPrzd5ce3iz/pqikYeNptzHWUDwYAwPHP
78Jh0zXdHTvNTJxz8hw7TnefuJvjNqbjsNTdrPB0x9PT3c2Y2LAS7/kLz98+733//QryzusUWb3P
q7cFBAWCAsGChQiVSpjU0kjrAx9KJ70MMsoksyxvH9lkl8NHcsoltzzyyie/AgoqpLAiiiqmuBJK
KqW0Msoq52Phyqugokoqq6Kqaqr7RA2fqqmW2uqIUFekeqLU10BDjTTWRLSmYjTT3GditdBSnFZa
a6OtdtrroKNOOuuiayDEcuOlmOWRCX7wrYVW+NE3rhlnuv89873ZJjnglv8sstILz720zGpHHbZG
N91N0cNxPR1xzGknnHTKn3o574yz1urtX1NdcsFFfTz21Nf6itfPAP0lWCLRQJ9LMkiywb7wpb8M
8ZWhhhlhuG2WGmWk0cZ44m87XHbXPeus94f7dnrgoZ9d8bvrbrjpjqtum2+DjbbY6qBNNvvNWPtN
tMohu+2xKxDqO4vN8at55vrHT6ZZ4BeTzTDTdufstS84Ji46KDI2LDkhPjw8IjwkKjkp8Q3oln02
AAAAAAH//wACeNpjYGRgYOADYjkGEGACQmaGbwyMDN8ZfgDZLGAxBgAt3AMjeNpjYGRgYOBikGPQ
YWDMSSzJY+BgYAGKMPz/zwCSYczJTE8EijFAeEA5FjDNAcRSYJqJgY2Bh+EHkA5k+A4k/YCijAze
AJ61COEAAHjavVhdaFtlGH6SdM3SpWnTtc3aZW2abZ3bZCJ6MycyVPyDsVF1IoIobrtRRMQb7/TG
H7wTL0QQFcE/euFwOJjMH3SrK2OhhZWUxlAXmtHQEkZGc/nu+b5zcnZOck7Wk0a/l/f7e/u93/t/
vhQBAF0Ywd0IvPbyW69jMzq4AxEoSuDVk2+qPRgr0oIcgzwxydV7+m+jSOMw4UXCO7qvQRi7pISD
soxDUsSDsoqHZAZfEC8RFXWR1AypOVLzpE6ROkXqFO8MSxVR4hvELHGeuEDMEa8TAziKCPsoHsMR
TOAZPIvjOIXv8D3O4XdcRLB3VknYvS9WxH7soVYzsigVRIR8pChlyUmFfZX702pEy03WiCtoY6O1
Gm7wzWNFy1UlLDn5klKRVX885RdPyl/0sxpLvm2mZCu60Hz5QgrOlWQlW7OAY/+a3JSS6j05fS7z
SgtGxIpckIz8wDHDE2flI7ncoie/smblOso3jMC89kbJkHQ9MWTYzc7NaS21f5tbcx8z6ss1HrLW
LAfuHCs8f8ErluW8LOjZPK15RZblhu6zMsd7lz1O5T1vqvjNVd7yt0PSao0DZ+eNCJS8XKU/jLpQ
NOUtenCbdtiwaptnDIvKEqFAzcu6z7nltHlmSX52rGaNuznPydfmyVmZlDOMygXdnyWyarXmJx9W
W9R9RkuSZ1VuB8+CtnTZbsGWef3YhDbji9N13V/RmhbkjL/a3ETTMn0/3xa7zbWil0uOGpU6q2Kb
mv66IaH24D5zTOMA3xAHLMqwvuUau92ExqboadzrKuOylm11Y5o6OF5lVk26ZZ5vTjeMmlnLUFcL
l11rvUtlZ+WpEDPM8jVmNONETq83g/nN+KA9kWVrJyzu33ree9otc41K0UTam7pqlo1q5nxTuNdY
b/tbmcVK2ZiR/l9x2qdKtsIGo6z0H0WveiPN1lc3yptvjRuxLnr5Va7659YGTSNu9VRpVpPGnkX+
s9Uta9r6Rv+ppVN3rCHWK30V/0c7xF9RYSzwV6DR+jjbx3ErMclKndQV3t7u0juDBHsL8JdhiGMH
Nul1FJ3kq1qIv+dC9HYXtnC3GzGMowe9+pbbrR8D7BPYhiHE9c52YpzQTxjCKFIY41djJ3ZhL78q
acf5gXXpOly33lG3DjacCGmsgZpHTejRa3tLrEOKfmu2m3P1bQybZ7vYK6t4ST5Mv4zQG0ZvtCSt
3okKLROz7KBmY/oXe5weUpZUFqu1neb3eIele1D7PEVtUhqMscNcGWuFI/Sr8uhmRkbE1GPMZteE
hl6iauO6HyUkTExSw206Aobo2VHHebcWa9gZbNjpc0DIktkOTu91mhBxsXCiYS/hud5uYkpzTejs
idi8Wy/5IPWJ0RtG301Pp80ot2vb52mNXkKQVgvreNlCDgHy6KGf4vTHJvp9gJ5JEiKUJUVbjzNL
urGf77I47uFbayvux2HK8TieYBQ8hSOMhGOEvZjAS8ylU4SDeJvwAN7F+6wLHxIexseER/AJPsWj
+Axf4kn9P5ZjOEeYwG/4A0/jT8JxXMQUnsMlTON5zOEfvIB/Ca+gRDhxC3zlfLp42mNgYGBkAIJj
qdtPgegTl1J5YTQATq4GxgAA) format('woff'), url('ProximaNovaAExCn-Black.ttf')  format('truetype'), url('ProximaNovaAExCn-Black.svg#ProximaNovaAExCn-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


